In [1]:
import yfinance as yf
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
#dowload all the company as list
ticker = ["AMZN", "GOOGL", "MCD", "VZ", "BAC",]

In [3]:
#assign start date and end date
stocks = yf.download(ticker, start = "2014-01-01", end = "2023-11-24")

[*********************100%%**********************]  5 of 5 completed

In [4]:
stocks.head()

            Adj Close                                                  Close  \
                 AMZN        BAC      GOOGL        MCD         VZ       AMZN
Date
2014-01-02  19.898500  13.307185  27.855856  74.020378  30.258951  19.898500
2014-01-03  19.822001  13.563411  27.652653  74.120186  29.900784  19.822001
2014-01-06  19.681499  13.770041  27.960960  73.590424  30.067526  19.681499
2014-01-07  19.901501  13.637794  28.500000  73.997337  30.444227  19.901501
2014-01-08  20.096001  13.703918  28.559309  73.252602  30.275677  20.096001

                                                    ...       Open             \
              BAC      GOOGL        MCD         VZ  ...       AMZN        BAC
Date                                                ...
2014-01-02  16.10  27.855856  96.410004  49.000000  ...  19.940001  15.690000
2014-01-03  16.41  27.652653  96.540001  48.419998  ...  19.914499  16.270000
2014-01-06  16.66  27.960960  95.849998  48.689999  ...  19.792500  16.629999
2014-01-07  16.50  28.500000  96.379997  49.299999  ...  19.752001  16.770000
2014-01-08  16.58  28.559309  95.410004  48.500000  ...  19.923500  16.670000

                                               Volume                        \
                GOOGL        MCD         VZ      AMZN        BAC      GOOGL
Date
2014-01-02  27.914413  96.809998  49.080002  42756000  148709900   72783144
2014-01-03  27.902903  96.900002  49.330002  44204000  129921800   66601332
2014-01-06  27.853104  96.620003  48.770000  63412000  114431300   70701228
2014-01-07  28.153152  96.379997  49.119999  38320000  110605100  102001896
2014-01-08  28.678679  95.550003  48.689999  46330000  101036400   89610300


                MCD        VZ
Date
2014-01-02  2925800   9270200
2014-01-03  2965300  12022200
2014-01-06  5022700  16054800
2014-01-07  4881800  17594600
2014-01-08  7669800  13110700

[5 rows x 30 columns]

In [5]:
stocks.tail()

             Adj Close                                                \
                  AMZN        BAC       GOOGL         MCD         VZ
Date
2023-11-16  142.830002  29.306097  136.929993  274.475372  36.180000
2023-11-17  145.179993  29.742613  135.309998  274.107574  36.230000
2023-11-20  146.130005  29.772375  136.250000  277.368042  36.730000
2023-11-21  143.899994  29.425146  136.970001  278.799469  37.250000
2023-11-22  146.710007  29.395384  138.490005  280.250763  37.349998

                 Close                                                ...  \
                  AMZN        BAC       GOOGL         MCD         VZ  ...
Date                                                                  ...
2023-11-16  142.830002  29.540001  136.929993  276.119995  36.180000  ...
2023-11-17  145.179993  29.980000  135.309998  275.750000  36.230000  ...
2023-11-20  146.130005  30.010000  136.250000  279.029999  36.730000  ...
2023-11-21  143.899994  29.660000  136.970001  280.470001  37.250000  ...
2023-11-22  146.710007  29.629999  138.490005  281.929993  37.349998  ...

                  Open                                                \
                  AMZN        BAC       GOOGL         MCD         VZ
Date
2023-11-16  140.910004  29.430000  135.190002  271.070007  36.080002
2023-11-17  142.660004  29.709999  136.000000  276.549988  36.380001
2023-11-20  145.130005  29.980000  133.690002  275.350006  36.279999
2023-11-21  143.910004  29.990000  136.289993  279.869995  36.860001
2023-11-22  144.570007  29.740000  137.470001  281.250000  37.330002

              Volume
                AMZN       BAC     GOOGL      MCD        VZ
Date
2023-11-16  49653500  36952800  28013200  3593700  19110800
2023-11-17  49636700  38493300  37240600  2604800  19355200
2023-11-20  41951200  46783400  27815500  3499400  18656400
2023-11-21  71226000  41611900  22635300  2940800  22946400
2023-11-22  45669100  41422700  17813900  2285000  14613100

[5 rows x 30 columns]

In [6]:
stocks.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2491 entries, 2014-01-02 to 2023-11-22
Data columns (total 30 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   (Adj Close, AMZN)   2491 non-null   float64
 1   (Adj Close, BAC)    2491 non-null   float64
 2   (Adj Close, GOOGL)  2491 non-null   float64
 3   (Adj Close, MCD)    2491 non-null   float64
 4   (Adj Close, VZ)     2491 non-null   float64
 5   (Close, AMZN)       2491 non-null   float64
 6   (Close, BAC)        2491 non-null   float64
 7   (Close, GOOGL)      2491 non-null   float64
 8   (Close, MCD)        2491 non-null   float64
 9   (Close, VZ)         2491 non-null   float64
 10  (High, AMZN)        2491 non-null   float64
 11  (High, BAC)         2491 non-null   float64
 12  (High, GOOGL)       2491 non-null   float64
 13  (High, MCD)         2491 non-null   float64
 14  (High, VZ)          2491 non-null   float64
 15  (Low, AMZN)         2491 non-null   float64
 16  (Low, BAC)          2491 non-null   float64
 17  (Low, GOOGL)        2491 non-null   float64
 18  (Low, MCD)          2491 non-null   float64
 19  (Low, VZ)           2491 non-null   float64
 20  (Open, AMZN)        2491 non-null   float64
 21  (Open, BAC)         2491 non-null   float64
 22  (Open, GOOGL)       2491 non-null   float64
 23  (Open, MCD)         2491 non-null   float64
 24  (Open, VZ)          2491 non-null   float64
 25  (Volume, AMZN)      2491 non-null   int64
 26  (Volume, BAC)       2491 non-null   int64
 27  (Volume, GOOGL)     2491 non-null   int64
 28  (Volume, MCD)       2491 non-null   int64
 29  (Volume, VZ)        2491 non-null   int64
dtypes: float64(25), int64(5)
memory usage: 603.3 KB

In [7]:
#export the initial dataset
stocks.to_csv("stocksYF.csv")

In [8]:
stocks = pd.read_csv("stocksYF.csv")
stocks

,Unnamed: 0,Adj Close,Adj Close.1,Adj Close.2,Adj Close.3,Adj Close.4,Close,Close.1,Close.2,Close.3,...,Open,Open.1,Open.2,Open.3,Open.4,Volume,Volume.1,Volume.2,Volume.3,Volume.4
0,NaN,AMZN,BAC,GOOGL,MCD,VZ,AMZN,BAC,GOOGL,MCD,...,AMZN,BAC,GOOGL,MCD,VZ,AMZN,BAC,GOOGL,MCD,VZ
1,Date,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2014-01-02,19.898500442504883,13.307185173034668,27.85585594177246,74.02037811279297,30.25895118713379,19.898500442504883,16.100000381469727,27.85585594177246,96.41000366210938,...,19.940000534057617,15.6899995803833,27.914413452148438,96.80999755859375,49.08000183105469,42756000,148709900,72783144,2925800,9270200
3,2014-01-03,19.82200050354004,13.563410758972168,27.652652740478516,74.12018585205078,29.90078353881836,19.82200050354004,16.40999984741211,27.652652740478516,96.54000091552734,...,19.914499282836914,16.270000457763672,27.902902603149414,96.9000015258789,49.33000183105469,44204000,129921800,66601332,2965300,12022200
4,2014-01-06,19.681499481201172,13.770041465759277,27.960960388183594,73.59042358398438,30.06752586364746,19.681499481201172,16.65999984741211,27.960960388183594,95.8499984741211,...,19.792499542236328,16.6299991607666,27.853103637695312,96.62000274658203,48.77000045776367,63412000,114431300,70701228,5022700,16054800
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2488,2023-11-16,142.8300018310547,29.30609703063965,136.92999267578125,274.4753723144531,36.18000030517578,142.8300018310547,29.540000915527344,136.92999267578125,276.1199951171875,...,140.91000366210938,29.43000030517578,135.19000244140625,271.07000732421875,36.08000183105469,49653500,36952800,28013200,3593700,19110800
2489,2023-11-17,145.17999267578125,29.742612838745117,135.30999755859375,274.1075744628906,36.22999954223633,145.17999267578125,29.979999542236328,135.30999755859375,275.75,...,142.66000366210938,29.709999084472656,136.0,276.54998779296875,36.380001068115234,49636700,38493300,37240600,2604800,19355200
2490,2023-11-20,146.1300048828125,29.772375106811523,136.25,277.3680419921875,36.72999954223633,146.1300048828125,30.010000228881836,136.25,279.0299987792969,...,145.1300048828125,29.979999542236328,133.69000244140625,275.3500061035156,36.279998779296875,41951200,46783400,27815500,3499400,18656400
2491,2023-11-21,143.89999389648438,29.425146102905273,136.97000122070312,278.7994689941406,37.25,143.89999389648438,29.65999984741211,136.97000122070312,280.4700012207031,...,143.91000366210938,29.989999771118164,136.2899932861328,279.8699951171875,36.86000061035156,71226000,41611900,22635300,2940800,22946400
2492,2023-11-22,146.7100067138672,29.395383834838867,138.49000549316406,280.2507629394531,37.349998474121094,146.7100067138672,29.6299991607666,138.49000549316406,281.92999267578125,...,144.57000732421875,29.739999771118164,137.47000122070312,281.25,37.33000183105469,45669100,41422700,17813900,2285000,14613100

In [9]:
#correct the date column and header
stocks = pd.read_csv("stocksYF.csv", header = [0,1], index_col = [0], parse_dates = [0])
stocks

             Adj Close                                                \
                  AMZN        BAC       GOOGL         MCD         VZ
Date
2014-01-02   19.898500  13.307185   27.855856   74.020378  30.258951
2014-01-03   19.822001  13.563411   27.652653   74.120186  29.900784
2014-01-06   19.681499  13.770041   27.960960   73.590424  30.067526
2014-01-07   19.901501  13.637794   28.500000   73.997337  30.444227
2014-01-08   20.096001  13.703918   28.559309   73.252602  30.275677
...                ...        ...         ...         ...        ...
2023-11-16  142.830002  29.306097  136.929993  274.475372  36.180000
2023-11-17  145.179993  29.742613  135.309998  274.107574  36.230000
2023-11-20  146.130005  29.772375  136.250000  277.368042  36.730000
2023-11-21  143.899994  29.425146  136.970001  278.799469  37.250000
2023-11-22  146.710007  29.395384  138.490005  280.250763  37.349998

                 Close                                                ...  \
                  AMZN        BAC       GOOGL         MCD         VZ  ...
Date                                                                  ...
2014-01-02   19.898500  16.100000   27.855856   96.410004  49.000000  ...
2014-01-03   19.822001  16.410000   27.652653   96.540001  48.419998  ...
2014-01-06   19.681499  16.660000   27.960960   95.849998  48.689999  ...
2014-01-07   19.901501  16.500000   28.500000   96.379997  49.299999  ...
2014-01-08   20.096001  16.580000   28.559309   95.410004  48.500000  ...
...                ...        ...         ...         ...        ...  ...
2023-11-16  142.830002  29.540001  136.929993  276.119995  36.180000  ...
2023-11-17  145.179993  29.980000  135.309998  275.750000  36.230000  ...
2023-11-20  146.130005  30.010000  136.250000  279.029999  36.730000  ...
2023-11-21  143.899994  29.660000  136.970001  280.470001  37.250000  ...
2023-11-22  146.710007  29.629999  138.490005  281.929993  37.349998  ...

                  Open                                                \
                  AMZN        BAC       GOOGL         MCD         VZ
Date
2014-01-02   19.940001  15.690000   27.914413   96.809998  49.080002
2014-01-03   19.914499  16.270000   27.902903   96.900002  49.330002
2014-01-06   19.792500  16.629999   27.853104   96.620003  48.770000
2014-01-07   19.752001  16.770000   28.153152   96.379997  49.119999
2014-01-08   19.923500  16.670000   28.678679   95.550003  48.689999
...                ...        ...         ...         ...        ...
2023-11-16  140.910004  29.430000  135.190002  271.070007  36.080002
2023-11-17  142.660004  29.709999  136.000000  276.549988  36.380001
2023-11-20  145.130005  29.980000  133.690002  275.350006  36.279999
2023-11-21  143.910004  29.990000  136.289993  279.869995  36.860001
2023-11-22  144.570007  29.740000  137.470001  281.250000  37.330002

              Volume
                AMZN        BAC      GOOGL      MCD        VZ
Date
2014-01-02  42756000  148709900   72783144  2925800   9270200
2014-01-03  44204000  129921800   66601332  2965300  12022200
2014-01-06  63412000  114431300   70701228  5022700  16054800
2014-01-07  38320000  110605100  102001896  4881800  17594600
2014-01-08  46330000  101036400   89610300  7669800  13110700
...              ...        ...        ...      ...       ...
2023-11-16  49653500   36952800   28013200  3593700  19110800
2023-11-17  49636700   38493300   37240600  2604800  19355200
2023-11-20  41951200   46783400   27815500  3499400  18656400
2023-11-21  71226000   41611900   22635300  2940800  22946400
2023-11-22  45669100   41422700   17813900  2285000  14613100

[2491 rows x 30 columns]

In [10]:
stocks.columns

MultiIndex([('Adj Close',  'AMZN'),
            ('Adj Close',   'BAC'),
            ('Adj Close', 'GOOGL'),
            ('Adj Close',   'MCD'),
            ('Adj Close',    'VZ'),
            (    'Close',  'AMZN'),
            (    'Close',   'BAC'),
            (    'Close', 'GOOGL'),
            (    'Close',   'MCD'),
            (    'Close',    'VZ'),
            (     'High',  'AMZN'),
            (     'High',   'BAC'),
            (     'High', 'GOOGL'),
            (     'High',   'MCD'),
            (     'High',    'VZ'),
            (      'Low',  'AMZN'),
            (      'Low',   'BAC'),
            (      'Low', 'GOOGL'),
            (      'Low',   'MCD'),
            (      'Low',    'VZ'),
            (     'Open',  'AMZN'),
            (     'Open',   'BAC'),
            (     'Open', 'GOOGL'),
            (     'Open',   'MCD'),
            (     'Open',    'VZ'),
            (   'Volume',  'AMZN'),
            (   'Volume',   'BAC'),
            (   'Volume', 'GOOGL'),
            (   'Volume',   'MCD'),
            (   'Volume',    'VZ')],
           )

In [11]:
# convert a multi-level column index into a flat index
stocks.columns = stocks.columns.to_flat_index()
stocks.columns

Index([ ('Adj Close', 'AMZN'),   ('Adj Close', 'BAC'), ('Adj Close', 'GOOGL'),
         ('Adj Close', 'MCD'),    ('Adj Close', 'VZ'),      ('Close', 'AMZN'),
             ('Close', 'BAC'),     ('Close', 'GOOGL'),       ('Close', 'MCD'),
              ('Close', 'VZ'),       ('High', 'AMZN'),        ('High', 'BAC'),
            ('High', 'GOOGL'),        ('High', 'MCD'),         ('High', 'VZ'),
              ('Low', 'AMZN'),         ('Low', 'BAC'),       ('Low', 'GOOGL'),
               ('Low', 'MCD'),          ('Low', 'VZ'),       ('Open', 'AMZN'),
              ('Open', 'BAC'),      ('Open', 'GOOGL'),        ('Open', 'MCD'),
               ('Open', 'VZ'),     ('Volume', 'AMZN'),      ('Volume', 'BAC'),
          ('Volume', 'GOOGL'),      ('Volume', 'MCD'),       ('Volume', 'VZ')],
      dtype='object')

In [12]:
stocks

,"(Adj Close, AMZN)","(Adj Close, BAC)","(Adj Close, GOOGL)","(Adj Close, MCD)","(Adj Close, VZ)","(Close, AMZN)","(Close, BAC)","(Close, GOOGL)","(Close, MCD)","(Close, VZ)",...,"(Open, AMZN)","(Open, BAC)","(Open, GOOGL)","(Open, MCD)","(Open, VZ)","(Volume, AMZN)","(Volume, BAC)","(Volume, GOOGL)","(Volume, MCD)","(Volume, VZ)"
Date,,,,,,,,,,,,,,,,,,,,,
2014-01-02,19.898500,13.307185,27.855856,74.020378,30.258951,19.898500,16.100000,27.855856,96.410004,49.000000,...,19.940001,15.690000,27.914413,96.809998,49.080002,42756000,148709900,72783144,2925800,9270200
2014-01-03,19.822001,13.563411,27.652653,74.120186,29.900784,19.822001,16.410000,27.652653,96.540001,48.419998,...,19.914499,16.270000,27.902903,96.900002,49.330002,44204000,129921800,66601332,2965300,12022200
2014-01-06,19.681499,13.770041,27.960960,73.590424,30.067526,19.681499,16.660000,27.960960,95.849998,48.689999,...,19.792500,16.629999,27.853104,96.620003,48.770000,63412000,114431300,70701228,5022700,16054800
2014-01-07,19.901501,13.637794,28.500000,73.997337,30.444227,19.901501,16.500000,28.500000,96.379997,49.299999,...,19.752001,16.770000,28.153152,96.379997,49.119999,38320000,110605100,102001896,4881800,17594600
2014-01-08,20.096001,13.703918,28.559309,73.252602,30.275677,20.096001,16.580000,28.559309,95.410004,48.500000,...,19.923500,16.670000,28.678679,95.550003,48.689999,46330000,101036400,89610300,7669800,13110700
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-11-16,142.830002,29.306097,136.929993,274.475372,36.180000,142.830002,29.540001,136.929993,276.119995,36.180000,...,140.910004,29.430000,135.190002,271.070007,36.080002,49653500,36952800,28013200,3593700,19110800
2023-11-17,145.179993,29.742613,135.309998,274.107574,36.230000,145.179993,29.980000,135.309998,275.750000,36.230000,...,142.660004,29.709999,136.000000,276.549988,36.380001,49636700,38493300,37240600,2604800,19355200
2023-11-20,146.130005,29.772375,136.250000,277.368042,36.730000,146.130005,30.010000,136.250000,279.029999,36.730000,...,145.130005,29.980000,133.690002,275.350006,36.279999,41951200,46783400,27815500,3499400,18656400
2023-11-21,143.899994,29.425146,136.970001,278.799469,37.250000,143.899994,29.660000,136.970001,280.470001,37.250000,...,143.910004,29.990000,136.289993,279.869995,36.860001,71226000,41611900,22635300,2940800,22946400
2023-11-22,146.710007,29.395384,138.490005,280.250763,37.349998,146.710007,29.629999,138.490005,281.929993,37.349998,...,144.570007,29.740000,137.470001,281.250000,37.330002,45669100,41422700,17813900,2285000,14613100

In [13]:
# convert mult index to one tuple
stocks.columns = pd.MultiIndex.from_tuples(stocks.columns)
stocks

             Adj Close                                                \
                  AMZN        BAC       GOOGL         MCD         VZ
Date
2014-01-02   19.898500  13.307185   27.855856   74.020378  30.258951
2014-01-03   19.822001  13.563411   27.652653   74.120186  29.900784
2014-01-06   19.681499  13.770041   27.960960   73.590424  30.067526
2014-01-07   19.901501  13.637794   28.500000   73.997337  30.444227
2014-01-08   20.096001  13.703918   28.559309   73.252602  30.275677
...                ...        ...         ...         ...        ...
2023-11-16  142.830002  29.306097  136.929993  274.475372  36.180000
2023-11-17  145.179993  29.742613  135.309998  274.107574  36.230000
2023-11-20  146.130005  29.772375  136.250000  277.368042  36.730000
2023-11-21  143.899994  29.425146  136.970001  278.799469  37.250000
2023-11-22  146.710007  29.395384  138.490005  280.250763  37.349998

                 Close                                                ...  \
                  AMZN        BAC       GOOGL         MCD         VZ  ...
Date                                                                  ...
2014-01-02   19.898500  16.100000   27.855856   96.410004  49.000000  ...
2014-01-03   19.822001  16.410000   27.652653   96.540001  48.419998  ...
2014-01-06   19.681499  16.660000   27.960960   95.849998  48.689999  ...
2014-01-07   19.901501  16.500000   28.500000   96.379997  49.299999  ...
2014-01-08   20.096001  16.580000   28.559309   95.410004  48.500000  ...
...                ...        ...         ...         ...        ...  ...
2023-11-16  142.830002  29.540001  136.929993  276.119995  36.180000  ...
2023-11-17  145.179993  29.980000  135.309998  275.750000  36.230000  ...
2023-11-20  146.130005  30.010000  136.250000  279.029999  36.730000  ...
2023-11-21  143.899994  29.660000  136.970001  280.470001  37.250000  ...
2023-11-22  146.710007  29.629999  138.490005  281.929993  37.349998  ...

                  Open                                                \
                  AMZN        BAC       GOOGL         MCD         VZ
Date
2014-01-02   19.940001  15.690000   27.914413   96.809998  49.080002
2014-01-03   19.914499  16.270000   27.902903   96.900002  49.330002
2014-01-06   19.792500  16.629999   27.853104   96.620003  48.770000
2014-01-07   19.752001  16.770000   28.153152   96.379997  49.119999
2014-01-08   19.923500  16.670000   28.678679   95.550003  48.689999
...                ...        ...         ...         ...        ...
2023-11-16  140.910004  29.430000  135.190002  271.070007  36.080002
2023-11-17  142.660004  29.709999  136.000000  276.549988  36.380001
2023-11-20  145.130005  29.980000  133.690002  275.350006  36.279999
2023-11-21  143.910004  29.990000  136.289993  279.869995  36.860001
2023-11-22  144.570007  29.740000  137.470001  281.250000  37.330002

              Volume
                AMZN        BAC      GOOGL      MCD        VZ
Date
2014-01-02  42756000  148709900   72783144  2925800   9270200
2014-01-03  44204000  129921800   66601332  2965300  12022200
2014-01-06  63412000  114431300   70701228  5022700  16054800
2014-01-07  38320000  110605100  102001896  4881800  17594600
2014-01-08  46330000  101036400   89610300  7669800  13110700
...              ...        ...        ...      ...       ...
2023-11-16  49653500   36952800   28013200  3593700  19110800
2023-11-17  49636700   38493300   37240600  2604800  19355200
2023-11-20  41951200   46783400   27815500  3499400  18656400
2023-11-21  71226000   41611900   22635300  2940800  22946400
2023-11-22  45669100   41422700   17813900  2285000  14613100

[2491 rows x 30 columns]

In [14]:
stocks.columns

MultiIndex([('Adj Close',  'AMZN'),
            ('Adj Close',   'BAC'),
            ('Adj Close', 'GOOGL'),
            ('Adj Close',   'MCD'),
            ('Adj Close',    'VZ'),
            (    'Close',  'AMZN'),
            (    'Close',   'BAC'),
            (    'Close', 'GOOGL'),
            (    'Close',   'MCD'),
            (    'Close',    'VZ'),
            (     'High',  'AMZN'),
            (     'High',   'BAC'),
            (     'High', 'GOOGL'),
            (     'High',   'MCD'),
            (     'High',    'VZ'),
            (      'Low',  'AMZN'),
            (      'Low',   'BAC'),
            (      'Low', 'GOOGL'),
            (      'Low',   'MCD'),
            (      'Low',    'VZ'),
            (     'Open',  'AMZN'),
            (     'Open',   'BAC'),
            (     'Open', 'GOOGL'),
            (     'Open',   'MCD'),
            (     'Open',    'VZ'),
            (   'Volume',  'AMZN'),
            (   'Volume',   'BAC'),
            (   'Volume', 'GOOGL'),
            (   'Volume',   'MCD'),
            (   'Volume',    'VZ')],
           )

In [15]:
stocks.describe()

         Adj Close                                                      \
              AMZN          BAC        GOOGL          MCD           VZ
count  2491.000000  2491.000000  2491.000000  2491.000000  2491.000000
mean     83.755831    24.057753    68.486539   162.344571    39.269664
std      51.240876     8.867238    36.201975    66.201094     6.760886
min      14.347500     9.404630    24.853001    70.258980    28.613152
25%      36.121750    14.414871    38.413500    99.496155    33.234680
50%      86.189499    24.780365    56.964001   156.660385    37.172352
75%     125.645500    29.569080    97.779999   219.952675    46.198879
max     186.570496    46.799240   149.838501   295.046356    52.166168

             Close                                                      ...  \
              AMZN          BAC        GOOGL          MCD           VZ  ...
count  2491.000000  2491.000000  2491.000000  2491.000000  2491.000000  ...
mean     83.755831    26.570253    68.486539   178.644617    50.280269  ...
std      51.240876     8.740431    36.201975    61.439444     6.725021  ...
min      14.347500    11.160000    24.853001    88.459999    30.670000  ...
25%      36.121750    17.290001    38.413500   119.399998    47.150002  ...
50%      86.189499    27.500000    56.964001   176.179993    50.439999  ...
75%     125.645500    31.870001    97.779999   232.590004    55.509998  ...
max     186.570496    49.380001   149.838501   298.410004    62.070000  ...

              Open                                                      \
              AMZN          BAC        GOOGL          MCD           VZ
count  2491.000000  2491.000000  2491.000000  2491.000000  2491.000000
mean     83.786515    26.577218    68.461704   178.625833    50.283489
std      51.283416     8.747401    36.181838    61.471535     6.717225
min      14.220000    11.460000    24.962000    88.070000    30.740000
25%      36.074249    17.285001    38.461500   119.174999    47.130001
50%      86.202499    27.530001    56.924999   176.130005    50.459999
75%     125.139999    31.825000    97.565002   232.809998    55.580002
max     187.199997    49.910000   151.250000   298.630005    62.009998

             Volume
               AMZN           BAC         GOOGL           MCD            VZ
count  2.491000e+03  2.491000e+03  2.491000e+03  2.491000e+03  2.491000e+03
mean   8.056142e+07  6.934559e+07  3.784895e+07  4.066088e+06  1.762988e+07
std    4.166444e+07  3.590592e+07  2.002352e+07  2.258413e+06  1.486009e+07
min    1.762600e+07  1.380540e+07  9.312000e+06  9.632000e+05  4.108300e+06
25%    5.410700e+07  4.567520e+07  2.610075e+07  2.611500e+06  1.208255e+07
50%    6.908400e+07  6.023530e+07  3.233400e+07  3.419400e+06  1.542790e+07
75%    9.306100e+07  8.327455e+07  4.250200e+07  4.848950e+06  2.025920e+07
max    4.771220e+08  3.750887e+08  2.571620e+08  2.528660e+07  6.166205e+08

[8 rows x 30 columns]

In [16]:
#use close price only for Project 3 only 
close = stocks.loc[:,"Close"]
close

                  AMZN        BAC       GOOGL         MCD         VZ
Date
2014-01-02   19.898500  16.100000   27.855856   96.410004  49.000000
2014-01-03   19.822001  16.410000   27.652653   96.540001  48.419998
2014-01-06   19.681499  16.660000   27.960960   95.849998  48.689999
2014-01-07   19.901501  16.500000   28.500000   96.379997  49.299999
2014-01-08   20.096001  16.580000   28.559309   95.410004  48.500000
...                ...        ...         ...         ...        ...
2023-11-16  142.830002  29.540001  136.929993  276.119995  36.180000
2023-11-17  145.179993  29.980000  135.309998  275.750000  36.230000
2023-11-20  146.130005  30.010000  136.250000  279.029999  36.730000
2023-11-21  143.899994  29.660000  136.970001  280.470001  37.250000
2023-11-22  146.710007  29.629999  138.490005  281.929993  37.349998

[2491 rows x 5 columns]

In [17]:
#export the close price as new dataset
close.to_csv("stocksClose.csv")

In [18]:
close = pd.read_csv('stocksClose.csv', parse_dates=['Date'])
close

           Date        AMZN        BAC       GOOGL         MCD         VZ
0    2014-01-02   19.898500  16.100000   27.855856   96.410004  49.000000
1    2014-01-03   19.822001  16.410000   27.652653   96.540001  48.419998
2    2014-01-06   19.681499  16.660000   27.960960   95.849998  48.689999
3    2014-01-07   19.901501  16.500000   28.500000   96.379997  49.299999
4    2014-01-08   20.096001  16.580000   28.559309   95.410004  48.500000
...         ...         ...        ...         ...         ...        ...
2486 2023-11-16  142.830002  29.540001  136.929993  276.119995  36.180000
2487 2023-11-17  145.179993  29.980000  135.309998  275.750000  36.230000
2488 2023-11-20  146.130005  30.010000  136.250000  279.029999  36.730000
2489 2023-11-21  143.899994  29.660000  136.970001  280.470001  37.250000
2490 2023-11-22  146.710007  29.629999  138.490005  281.929993  37.349998

[2491 rows x 6 columns]

In [19]:
print(close.columns)

Index(['Date', 'AMZN', 'BAC', 'GOOGL', 'MCD', 'VZ'], dtype='object')

In [20]:
#add a new column to show "Date" column as Quarter
close['Quarter'] = close['Date'].dt.to_period('Q')
close

,Date,AMZN,BAC,GOOGL,MCD,VZ,Quarter
0,2014-01-02,19.898500,16.100000,27.855856,96.410004,49.000000,2014Q1
1,2014-01-03,19.822001,16.410000,27.652653,96.540001,48.419998,2014Q1
2,2014-01-06,19.681499,16.660000,27.960960,95.849998,48.689999,2014Q1
3,2014-01-07,19.901501,16.500000,28.500000,96.379997,49.299999,2014Q1
4,2014-01-08,20.096001,16.580000,28.559309,95.410004,48.500000,2014Q1
...,...,...,...,...,...,...,...
2486,2023-11-16,142.830002,29.540001,136.929993,276.119995,36.180000,2023Q4
2487,2023-11-17,145.179993,29.980000,135.309998,275.750000,36.230000,2023Q4
2488,2023-11-20,146.130005,30.010000,136.250000,279.029999,36.730000,2023Q4
2489,2023-11-21,143.899994,29.660000,136.970001,280.470001,37.250000,2023Q4
2490,2023-11-22,146.710007,29.629999,138.490005,281.929993,37.349998,2023Q4

In [21]:
#rename the Quater colummn as current Quarter
close.rename(columns = {'Quarter' : 'Cur Quarter'}, inplace = True)
close

,Date,AMZN,BAC,GOOGL,MCD,VZ,Cur Quarter
0,2014-01-02,19.898500,16.100000,27.855856,96.410004,49.000000,2014Q1
1,2014-01-03,19.822001,16.410000,27.652653,96.540001,48.419998,2014Q1
2,2014-01-06,19.681499,16.660000,27.960960,95.849998,48.689999,2014Q1
3,2014-01-07,19.901501,16.500000,28.500000,96.379997,49.299999,2014Q1
4,2014-01-08,20.096001,16.580000,28.559309,95.410004,48.500000,2014Q1
...,...,...,...,...,...,...,...
2486,2023-11-16,142.830002,29.540001,136.929993,276.119995,36.180000,2023Q4
2487,2023-11-17,145.179993,29.980000,135.309998,275.750000,36.230000,2023Q4
2488,2023-11-20,146.130005,30.010000,136.250000,279.029999,36.730000,2023Q4
2489,2023-11-21,143.899994,29.660000,136.970001,280.470001,37.250000,2023Q4
2490,2023-11-22,146.710007,29.629999,138.490005,281.929993,37.349998,2023Q4

In [22]:
#this formula use to differentiation the previous quarter vs current quater, previous quater is a "date value" to calcuate PE ratio for current trading price, which use close price
def previous_quarter_date(val):
    if val.month < 4:
        return datetime.date(val.year - 1, 12, 31)
    elif val.month < 7:
        return datetime.date(val.year, 3, 31)
    elif val.month < 10:
        return datetime.date(val.year, 6, 30)
    return datetime.date(val.year, 9, 30)

In [23]:
#assign value to previous quarter
import datetime
close['pre Qdate'] = close['Date'].apply(previous_quarter_date)
close

,Date,AMZN,BAC,GOOGL,MCD,VZ,Cur Quarter,pre Qdate
0,2014-01-02,19.898500,16.100000,27.855856,96.410004,49.000000,2014Q1,2013-12-31
1,2014-01-03,19.822001,16.410000,27.652653,96.540001,48.419998,2014Q1,2013-12-31
2,2014-01-06,19.681499,16.660000,27.960960,95.849998,48.689999,2014Q1,2013-12-31
3,2014-01-07,19.901501,16.500000,28.500000,96.379997,49.299999,2014Q1,2013-12-31
4,2014-01-08,20.096001,16.580000,28.559309,95.410004,48.500000,2014Q1,2013-12-31
...,...,...,...,...,...,...,...,...
2486,2023-11-16,142.830002,29.540001,136.929993,276.119995,36.180000,2023Q4,2023-09-30
2487,2023-11-17,145.179993,29.980000,135.309998,275.750000,36.230000,2023Q4,2023-09-30
2488,2023-11-20,146.130005,30.010000,136.250000,279.029999,36.730000,2023Q4,2023-09-30
2489,2023-11-21,143.899994,29.660000,136.970001,280.470001,37.250000,2023Q4,2023-09-30
2490,2023-11-22,146.710007,29.629999,138.490005,281.929993,37.349998,2023Q4,2023-09-30

In [24]:
#adding a column as of FSQuarter for merge purpose,format to same format of Current Quarter
close['pre Qdate'] = pd.to_datetime(close['pre Qdate'])
close['FSQuarter'] = close['pre Qdate'].dt.to_period('Q')
close['year'] = close['Date'].dt.year
close

,Date,AMZN,BAC,GOOGL,MCD,VZ,Cur Quarter,pre Qdate,FSQuarter,year
0,2014-01-02,19.898500,16.100000,27.855856,96.410004,49.000000,2014Q1,2013-12-31,2013Q4,2014
1,2014-01-03,19.822001,16.410000,27.652653,96.540001,48.419998,2014Q1,2013-12-31,2013Q4,2014
2,2014-01-06,19.681499,16.660000,27.960960,95.849998,48.689999,2014Q1,2013-12-31,2013Q4,2014
3,2014-01-07,19.901501,16.500000,28.500000,96.379997,49.299999,2014Q1,2013-12-31,2013Q4,2014
4,2014-01-08,20.096001,16.580000,28.559309,95.410004,48.500000,2014Q1,2013-12-31,2013Q4,2014
...,...,...,...,...,...,...,...,...,...,...
2486,2023-11-16,142.830002,29.540001,136.929993,276.119995,36.180000,2023Q4,2023-09-30,2023Q3,2023
2487,2023-11-17,145.179993,29.980000,135.309998,275.750000,36.230000,2023Q4,2023-09-30,2023Q3,2023
2488,2023-11-20,146.130005,30.010000,136.250000,279.029999,36.730000,2023Q4,2023-09-30,2023Q3,2023
2489,2023-11-21,143.899994,29.660000,136.970001,280.470001,37.250000,2023Q4,2023-09-30,2023Q3,2023
2490,2023-11-22,146.710007,29.629999,138.490005,281.929993,37.349998,2023Q4,2023-09-30,2023Q3,2023

In [25]:
#drop the 'pre Qdate'column for data cleaning
column_to_drop = 'pre Qdate'
close.drop(columns=[column_to_drop], inplace=True)
close

,Date,AMZN,BAC,GOOGL,MCD,VZ,Cur Quarter,FSQuarter,year
0,2014-01-02,19.898500,16.100000,27.855856,96.410004,49.000000,2014Q1,2013Q4,2014
1,2014-01-03,19.822001,16.410000,27.652653,96.540001,48.419998,2014Q1,2013Q4,2014
2,2014-01-06,19.681499,16.660000,27.960960,95.849998,48.689999,2014Q1,2013Q4,2014
3,2014-01-07,19.901501,16.500000,28.500000,96.379997,49.299999,2014Q1,2013Q4,2014
4,2014-01-08,20.096001,16.580000,28.559309,95.410004,48.500000,2014Q1,2013Q4,2014
...,...,...,...,...,...,...,...,...,...
2486,2023-11-16,142.830002,29.540001,136.929993,276.119995,36.180000,2023Q4,2023Q3,2023
2487,2023-11-17,145.179993,29.980000,135.309998,275.750000,36.230000,2023Q4,2023Q3,2023
2488,2023-11-20,146.130005,30.010000,136.250000,279.029999,36.730000,2023Q4,2023Q3,2023
2489,2023-11-21,143.899994,29.660000,136.970001,280.470001,37.250000,2023Q4,2023Q3,2023
2490,2023-11-22,146.710007,29.629999,138.490005,281.929993,37.349998,2023Q4,2023Q3,2023

In [26]:
#import AMZN earning report Data set from Fidelity account
amznEPS = pd.read_csv("amzn.csv")
amznEPS

,Quarter,Report date,Report time,Consensus est. EPS ($),Adjusted actualsÂ EPS ($),EPS difference,Est. low/high range ($),StarMine from RefinitivÂ SmartEstimate($),GAAP EPS ($),Reported EPS ($)
0,Q1 2024,4/25/24,--,0.68,--,--,0.36 / 1.04,--,--,--
1,NaN,NaN,NaN,(22 Analysts),NaN,NaN,NaN,NaN,NaN,NaN
2,Q4 2023,1/31/24,--,0.77,--,--,0.57 / 1.00,0.81,--,--
3,NaN,NaN,NaN,(36 Analysts),NaN,NaN,NaN,NaN,NaN,NaN
4,Q3 2023,10/26/23,--,0.58,0.94,0.36,0.44 / 0.71,0.61,0.94,0.94
...,...,...,...,...,...,...,...,...,...,...
79,NaN,NaN,NaN,(37 Analysts),NaN,NaN,NaN,NaN,NaN,NaN
80,Q1 2014,4/24/14,--,0.23,0.23,0,-0.019230769,0.23,0.01,0.23
81,NaN,NaN,NaN,(36 Analysts),NaN,NaN,NaN,NaN,NaN,NaN
82,Q4 2013,1/30/14,--,0.66,0.51,-0.15,0.01 / 1.88,0.7,0.03,0.51
83,NaN,NaN,NaN,(39 Analysts),NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
print(amznEPS.columns)

Index(['Quarter', 'Report date', 'Report time', 'Consensus est. EPS ($)',
       'Adjusted actualsÂ EPS ($)', 'EPS difference', 'Est. low/high range ($)',
       'StarMine from RefinitivÂ SmartEstimate($)Â ', 'GAAP EPS ($)',
       'Reported EPS ($)'],
      dtype='object')

In [28]:
#add column as of FSQuarter for merge purpose
quarter_info = amznEPS['Quarter'].str.extract(r'Q(\d) (\d{4})')
amznEPS['FSQuarter'] = quarter_info[1] + 'Q' + quarter_info[0]

In [29]:
amznEPS

,Quarter,Report date,Report time,Consensus est. EPS ($),Adjusted actualsÂ EPS ($),EPS difference,Est. low/high range ($),StarMine from RefinitivÂ SmartEstimate($),GAAP EPS ($),Reported EPS ($),FSQuarter
0,Q1 2024,4/25/24,--,0.68,--,--,0.36 / 1.04,--,--,--,2024Q1
1,NaN,NaN,NaN,(22 Analysts),NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Q4 2023,1/31/24,--,0.77,--,--,0.57 / 1.00,0.81,--,--,2023Q4
3,NaN,NaN,NaN,(36 Analysts),NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Q3 2023,10/26/23,--,0.58,0.94,0.36,0.44 / 0.71,0.61,0.94,0.94,2023Q3
...,...,...,...,...,...,...,...,...,...,...,...
79,NaN,NaN,NaN,(37 Analysts),NaN,NaN,NaN,NaN,NaN,NaN,NaN
80,Q1 2014,4/24/14,--,0.23,0.23,0,-0.019230769,0.23,0.01,0.23,2014Q1
81,NaN,NaN,NaN,(36 Analysts),NaN,NaN,NaN,NaN,NaN,NaN,NaN
82,Q4 2013,1/30/14,--,0.66,0.51,-0.15,0.01 / 1.88,0.7,0.03,0.51,2013Q4
83,NaN,NaN,NaN,(39 Analysts),NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
#check datatype for merge purpose
close["FSQuarter"].info()

<class 'pandas.core.series.Series'>
RangeIndex: 2491 entries, 0 to 2490
Series name: FSQuarter
Non-Null Count  Dtype
--------------  -----
2491 non-null   period[Q-DEC]
dtypes: period[Q-DEC](1)
memory usage: 19.6 KB

In [31]:
amznEPS["FSQuarter"].info()

<class 'pandas.core.series.Series'>
RangeIndex: 84 entries, 0 to 83
Series name: FSQuarter
Non-Null Count  Dtype
--------------  -----
42 non-null     object
dtypes: object(1)
memory usage: 804.0+ bytes

In [32]:
#change the merge column to the same datetype 
amznEPS['FSQuarter'] = pd.PeriodIndex(amznEPS['FSQuarter'], freq='Q-DEC')
amznEPS["FSQuarter"].info()

<class 'pandas.core.series.Series'>
RangeIndex: 84 entries, 0 to 83
Series name: FSQuarter
Non-Null Count  Dtype
--------------  -----
42 non-null     period[Q-DEC]
dtypes: period[Q-DEC](1)
memory usage: 804.0 bytes

In [33]:
#drop the n/a rows and adding year column 
amznEPS = amznEPS.dropna()
amznEPS['year'] = amznEPS['Quarter'].str.extract('(\d{4})').astype(int)
amznEPS

/var/folders/y_/xzdtpw157lxfxq97fg75kg4m0000gn/T/ipykernel_29991/3629117233.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  amznEPS['year'] = amznEPS['Quarter'].str.extract('(\d{4})').astype(int)

,Quarter,Report date,Report time,Consensus est. EPS ($),Adjusted actualsÂ EPS ($),EPS difference,Est. low/high range ($),StarMine from RefinitivÂ SmartEstimate($),GAAP EPS ($),Reported EPS ($),FSQuarter,year
0,Q1 2024,4/25/24,--,0.68,--,--,0.36 / 1.04,--,--,--,2024Q1,2024
2,Q4 2023,1/31/24,--,0.77,--,--,0.57 / 1.00,0.81,--,--,2023Q4,2023
4,Q3 2023,10/26/23,--,0.58,0.94,0.36,0.44 / 0.71,0.61,0.94,0.94,2023Q3,2023
6,Q2 2023,8/3/23,--,0.35,0.65,0.3,0.14 / 0.47,0.36,0.65,0.65,2023Q2,2023
8,Q1 2023,4/27/23,--,0.21,0.31,0.1,-0.125,0.17,0.31,0.31,2023Q1,2023
10,Q4 2022,2/2/23,--,0.18,0.03,-0.15,-0.09375,0.16,0.03,0.03,2022Q4,2022
12,Q3 2022,10/27/22,--,0.22,0.28,0.06,-0.128205128,0.21,0.28,0.28,2022Q3,2022
14,Q2 2022,7/28/22,--,0.14,-0.2,-0.34,-0.195121951,0.13,-0.2,-0.2,2022Q2,2022
16,Q1 2022,4/28/22,--,0.42,-0.38,-0.8,-0.301724138,0,-0.38,-0.38,2022Q1,2022
18,Q4 2021,2/3/22,--,0.18,1.39,1.21,-0.136363636,0,1.39,1.39,2021Q4,2021
20,Q3 2021,10/28/21,--,0.45,0.31,-0.14,5.25 / 13.43,0,0.31,0.31,2021Q3,2021
22,Q2 2021,7/29/21,--,0.62,0.76,0.14,9.77 / 15.18,0,0.76,0.76,2021Q2,2021
24,Q1 2021,4/29/21,--,0.48,0.79,0.31,6.41 / 12.00,0,0.79,0.79,2021Q1,2021
26,Q4 2020,2/2/21,--,0.36,0.71,0.35,4.51 / 11.16,0,0.7,0.71,2020Q4,2020
28,Q3 2020,10/29/20,--,0.37,0.62,0.25,4.62 / 11.86,--,0.62,0.62,2020Q3,2020
30,Q2 2020,7/30/20,--,0.07,0.52,0.45,-0.653846154,0,0.52,0.52,2020Q2,2020
32,Q1 2020,4/30/20,--,6.25,5.01,-1.24,4.68 / 7.82,0,0.25,5.01,2020Q1,2020
34,Q4 2019,1/30/20,--,4.03,6.47,2.44,2.19 / 5.58,0,0.32,6.47,2019Q4,2019
36,Q3 2019,10/24/19,--,4.62,4.23,-0.39,3.35 / 6.03,0,0.21,4.23,2019Q3,2019
38,Q2 2019,7/25/19,--,5.57,5.22,-0.35,4.34 / 7.85,0,0.26,5.22,2019Q2,2019
40,Q1 2019,4/25/19,--,4.72,7.09,2.37,3.08 / 6.06,0,0.35,7.09,2019Q1,2019
42,Q4 2018,1/31/19,--,5.68,6.04,0.36,4.37 / 8.27,5.96,0.3,6.04,2018Q4,2018
44,Q3 2018,10/25/18,--,3.14,5.75,2.61,2.25 / 4.40,3.25,0.29,5.75,2018Q3,2018
46,Q2 2018,7/26/18,--,2.54,5.07,2.53,1.53 / 3.09,2.55,0.25,5.07,2018Q2,2018
48,Q1 2018,4/26/18,--,1.26,3.27,2.01,0.66 / 1.79,1.3,0.16,3.27,2018Q1,2018
50,Q4 2017,2/1/18,--,1.84,2.16,0.32,1.21 / 2.62,1.82,0.19,3.75,2017Q4,2017
52,Q3 2017,10/26/17,--,0.03,0.52,0.49,-1.269230769,0.1,0.03,0.52,2017Q3,2017
54,Q2 2017,7/27/17,--,1.42,0.4,-1.02,1.04 / 2.42,1.45,0.02,0.4,2017Q2,2017
56,Q1 2017,4/27/17,--,1.09,1.48,0.39,0.26 / 2.34,1.14,0.07,1.48,2017Q1,2017
58,Q4 2016,2/2/17,--,1.35,1.54,0.19,0.36 / 1.84,1.4,0.08,1.54,2016Q4,2016
60,Q3 2016,10/27/16,--,0.78,0.52,-0.26,0.39 / 1.54,0.83,0.03,0.52,2016Q3,2016
62,Q2 2016,7/28/16,--,1.11,1.78,0.67,0.49 / 1.85,1.15,0.09,1.78,2016Q2,2016
64,Q1 2016,4/28/16,--,0.58,1.07,0.49,-0.160714286,0.6,0.05,1.07,2016Q1,2016
66,Q4 2015,1/28/16,--,1.56,1,-0.56,0.60 / 2.41,1.59,0.05,1,2015Q4,2015
68,Q3 2015,10/22/15,--,-0.14,0.17,0.31,-1.714285714,-0.12,0.01,0.17,2015Q3,2015
70,Q2 2015,7/23/15,--,-0.14,0.19,0.33,-1.648648649,-0.16,0.01,0.19,2015Q2,2015
72,Q1 2015,4/23/15,--,-0.12,-0.12,0,-1.6,-0.11,-0.01,-0.12,2015Q1,2015
74,Q4 2014,1/29/15,--,0.17,0.45,0.28,-0.732142857,0.15,0.02,0.45,2014Q4,2014
76,Q3 2014,10/23/14,--,-0.74,-0.95,-0.21,3.170731707,-0.74,-0.05,-0.95,2014Q3,2014
78,Q2 2014,7/24/14,--,-0.15,-0.27,-0.12,-7.285714286,-0.16,-0.01,-0.27,2014Q2,2014
80,Q1 2014,4/24/14,--,0.23,0.23,0,-0.019230769,0.23,0.01,0.23,2014Q1,2014
82,Q4 2013,1/30/14,--,0.66,0.51,-0.15,0.01 / 1.88,0.7,0.03,0.51,2013Q4,2013

In [34]:
#change the value to number for later calculation 
#yeps value for Earning per share(calendar year, chart 1)
#4Q Sum, value for Earning per share(last four Quarterly report, PE ration, chart2)
amznEPS['Reported EPS ($)'] = pd.to_numeric(amznEPS['Reported EPS ($)'], errors='coerce')
amznEPS['amznyeps'] = amznEPS.groupby('year')['Reported EPS ($)'].transform('sum')
amznEPS

/var/folders/y_/xzdtpw157lxfxq97fg75kg4m0000gn/T/ipykernel_29991/1148767470.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  amznEPS['Reported EPS ($)'] = pd.to_numeric(amznEPS['Reported EPS ($)'], errors='coerce')
/var/folders/y_/xzdtpw157lxfxq97fg75kg4m0000gn/T/ipykernel_29991/1148767470.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  amznEPS['amznyeps'] = amznEPS.groupby('year')['Reported EPS ($)'].transform('sum')

,Quarter,Report date,Report time,Consensus est. EPS ($),Adjusted actualsÂ EPS ($),EPS difference,Est. low/high range ($),StarMine from RefinitivÂ SmartEstimate($),GAAP EPS ($),Reported EPS ($),FSQuarter,year,amznyeps
0,Q1 2024,4/25/24,--,0.68,--,--,0.36 / 1.04,--,--,NaN,2024Q1,2024,0.00
2,Q4 2023,1/31/24,--,0.77,--,--,0.57 / 1.00,0.81,--,NaN,2023Q4,2023,1.90
4,Q3 2023,10/26/23,--,0.58,0.94,0.36,0.44 / 0.71,0.61,0.94,0.94,2023Q3,2023,1.90
6,Q2 2023,8/3/23,--,0.35,0.65,0.3,0.14 / 0.47,0.36,0.65,0.65,2023Q2,2023,1.90
8,Q1 2023,4/27/23,--,0.21,0.31,0.1,-0.125,0.17,0.31,0.31,2023Q1,2023,1.90
10,Q4 2022,2/2/23,--,0.18,0.03,-0.15,-0.09375,0.16,0.03,0.03,2022Q4,2022,-0.27
12,Q3 2022,10/27/22,--,0.22,0.28,0.06,-0.128205128,0.21,0.28,0.28,2022Q3,2022,-0.27
14,Q2 2022,7/28/22,--,0.14,-0.2,-0.34,-0.195121951,0.13,-0.2,-0.20,2022Q2,2022,-0.27
16,Q1 2022,4/28/22,--,0.42,-0.38,-0.8,-0.301724138,0,-0.38,-0.38,2022Q1,2022,-0.27
18,Q4 2021,2/3/22,--,0.18,1.39,1.21,-0.136363636,0,1.39,1.39,2021Q4,2021,3.25
20,Q3 2021,10/28/21,--,0.45,0.31,-0.14,5.25 / 13.43,0,0.31,0.31,2021Q3,2021,3.25
22,Q2 2021,7/29/21,--,0.62,0.76,0.14,9.77 / 15.18,0,0.76,0.76,2021Q2,2021,3.25
24,Q1 2021,4/29/21,--,0.48,0.79,0.31,6.41 / 12.00,0,0.79,0.79,2021Q1,2021,3.25
26,Q4 2020,2/2/21,--,0.36,0.71,0.35,4.51 / 11.16,0,0.7,0.71,2020Q4,2020,6.86
28,Q3 2020,10/29/20,--,0.37,0.62,0.25,4.62 / 11.86,--,0.62,0.62,2020Q3,2020,6.86
30,Q2 2020,7/30/20,--,0.07,0.52,0.45,-0.653846154,0,0.52,0.52,2020Q2,2020,6.86
32,Q1 2020,4/30/20,--,6.25,5.01,-1.24,4.68 / 7.82,0,0.25,5.01,2020Q1,2020,6.86
34,Q4 2019,1/30/20,--,4.03,6.47,2.44,2.19 / 5.58,0,0.32,6.47,2019Q4,2019,23.01
36,Q3 2019,10/24/19,--,4.62,4.23,-0.39,3.35 / 6.03,0,0.21,4.23,2019Q3,2019,23.01
38,Q2 2019,7/25/19,--,5.57,5.22,-0.35,4.34 / 7.85,0,0.26,5.22,2019Q2,2019,23.01
40,Q1 2019,4/25/19,--,4.72,7.09,2.37,3.08 / 6.06,0,0.35,7.09,2019Q1,2019,23.01
42,Q4 2018,1/31/19,--,5.68,6.04,0.36,4.37 / 8.27,5.96,0.3,6.04,2018Q4,2018,20.13
44,Q3 2018,10/25/18,--,3.14,5.75,2.61,2.25 / 4.40,3.25,0.29,5.75,2018Q3,2018,20.13
46,Q2 2018,7/26/18,--,2.54,5.07,2.53,1.53 / 3.09,2.55,0.25,5.07,2018Q2,2018,20.13
48,Q1 2018,4/26/18,--,1.26,3.27,2.01,0.66 / 1.79,1.3,0.16,3.27,2018Q1,2018,20.13
50,Q4 2017,2/1/18,--,1.84,2.16,0.32,1.21 / 2.62,1.82,0.19,3.75,2017Q4,2017,6.15
52,Q3 2017,10/26/17,--,0.03,0.52,0.49,-1.269230769,0.1,0.03,0.52,2017Q3,2017,6.15
54,Q2 2017,7/27/17,--,1.42,0.4,-1.02,1.04 / 2.42,1.45,0.02,0.40,2017Q2,2017,6.15
56,Q1 2017,4/27/17,--,1.09,1.48,0.39,0.26 / 2.34,1.14,0.07,1.48,2017Q1,2017,6.15
58,Q4 2016,2/2/17,--,1.35,1.54,0.19,0.36 / 1.84,1.4,0.08,1.54,2016Q4,2016,4.91
60,Q3 2016,10/27/16,--,0.78,0.52,-0.26,0.39 / 1.54,0.83,0.03,0.52,2016Q3,2016,4.91
62,Q2 2016,7/28/16,--,1.11,1.78,0.67,0.49 / 1.85,1.15,0.09,1.78,2016Q2,2016,4.91
64,Q1 2016,4/28/16,--,0.58,1.07,0.49,-0.160714286,0.6,0.05,1.07,2016Q1,2016,4.91
66,Q4 2015,1/28/16,--,1.56,1,-0.56,0.60 / 2.41,1.59,0.05,1.00,2015Q4,2015,1.24
68,Q3 2015,10/22/15,--,-0.14,0.17,0.31,-1.714285714,-0.12,0.01,0.17,2015Q3,2015,1.24
70,Q2 2015,7/23/15,--,-0.14,0.19,0.33,-1.648648649,-0.16,0.01,0.19,2015Q2,2015,1.24
72,Q1 2015,4/23/15,--,-0.12,-0.12,0,-1.6,-0.11,-0.01,-0.12,2015Q1,2015,1.24
74,Q4 2014,1/29/15,--,0.17,0.45,0.28,-0.732142857,0.15,0.02,0.45,2014Q4,2014,-0.54
76,Q3 2014,10/23/14,--,-0.74,-0.95,-0.21,3.170731707,-0.74,-0.05,-0.95,2014Q3,2014,-0.54
78,Q2 2014,7/24/14,--,-0.15,-0.27,-0.12,-7.285714286,-0.16,-0.01,-0.27,2014Q2,2014,-0.54
80,Q1 2014,4/24/14,--,0.23,0.23,0,-0.019230769,0.23,0.01,0.23,2014Q1,2014,-0.54
82,Q4 2013,1/30/14,--,0.66,0.51,-0.15,0.01 / 1.88,0.7,0.03,0.51,2013Q4,2013,0.51

In [35]:
#to get value for all 4 previous quarterly eps as rolling annual eps
data = amznEPS["Reported EPS ($)"]
amznEPSdata = pd.DataFrame(data)
amznEPSdata['Reported EPS ($)'] = pd.to_numeric(amznEPSdata['Reported EPS ($)'], errors='coerce')
window_size = 4
rolling_sum = amznEPSdata.rolling(window=window_size).sum()
rolling_sum_shifted = rolling_sum.shift(-window_size + 1)

In [36]:
amznEPS['amzn4Qsum'] = rolling_sum_shifted
amznEPS

/var/folders/y_/xzdtpw157lxfxq97fg75kg4m0000gn/T/ipykernel_29991/1439999217.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  amznEPS['amzn4Qsum'] = rolling_sum_shifted

,Quarter,Report date,Report time,Consensus est. EPS ($),Adjusted actualsÂ EPS ($),EPS difference,Est. low/high range ($),StarMine from RefinitivÂ SmartEstimate($),GAAP EPS ($),Reported EPS ($),FSQuarter,year,amznyeps,amzn4Qsum
0,Q1 2024,4/25/24,--,0.68,--,--,0.36 / 1.04,--,--,NaN,2024Q1,2024,0.00,NaN
2,Q4 2023,1/31/24,--,0.77,--,--,0.57 / 1.00,0.81,--,NaN,2023Q4,2023,1.90,NaN
4,Q3 2023,10/26/23,--,0.58,0.94,0.36,0.44 / 0.71,0.61,0.94,0.94,2023Q3,2023,1.90,1.93
6,Q2 2023,8/3/23,--,0.35,0.65,0.3,0.14 / 0.47,0.36,0.65,0.65,2023Q2,2023,1.90,1.27
8,Q1 2023,4/27/23,--,0.21,0.31,0.1,-0.125,0.17,0.31,0.31,2023Q1,2023,1.90,0.42
10,Q4 2022,2/2/23,--,0.18,0.03,-0.15,-0.09375,0.16,0.03,0.03,2022Q4,2022,-0.27,-0.27
12,Q3 2022,10/27/22,--,0.22,0.28,0.06,-0.128205128,0.21,0.28,0.28,2022Q3,2022,-0.27,1.09
14,Q2 2022,7/28/22,--,0.14,-0.2,-0.34,-0.195121951,0.13,-0.2,-0.20,2022Q2,2022,-0.27,1.12
16,Q1 2022,4/28/22,--,0.42,-0.38,-0.8,-0.301724138,0,-0.38,-0.38,2022Q1,2022,-0.27,2.08
18,Q4 2021,2/3/22,--,0.18,1.39,1.21,-0.136363636,0,1.39,1.39,2021Q4,2021,3.25,3.25
20,Q3 2021,10/28/21,--,0.45,0.31,-0.14,5.25 / 13.43,0,0.31,0.31,2021Q3,2021,3.25,2.57
22,Q2 2021,7/29/21,--,0.62,0.76,0.14,9.77 / 15.18,0,0.76,0.76,2021Q2,2021,3.25,2.88
24,Q1 2021,4/29/21,--,0.48,0.79,0.31,6.41 / 12.00,0,0.79,0.79,2021Q1,2021,3.25,2.64
26,Q4 2020,2/2/21,--,0.36,0.71,0.35,4.51 / 11.16,0,0.7,0.71,2020Q4,2020,6.86,6.86
28,Q3 2020,10/29/20,--,0.37,0.62,0.25,4.62 / 11.86,--,0.62,0.62,2020Q3,2020,6.86,12.62
30,Q2 2020,7/30/20,--,0.07,0.52,0.45,-0.653846154,0,0.52,0.52,2020Q2,2020,6.86,16.23
32,Q1 2020,4/30/20,--,6.25,5.01,-1.24,4.68 / 7.82,0,0.25,5.01,2020Q1,2020,6.86,20.93
34,Q4 2019,1/30/20,--,4.03,6.47,2.44,2.19 / 5.58,0,0.32,6.47,2019Q4,2019,23.01,23.01
36,Q3 2019,10/24/19,--,4.62,4.23,-0.39,3.35 / 6.03,0,0.21,4.23,2019Q3,2019,23.01,22.58
38,Q2 2019,7/25/19,--,5.57,5.22,-0.35,4.34 / 7.85,0,0.26,5.22,2019Q2,2019,23.01,24.10
40,Q1 2019,4/25/19,--,4.72,7.09,2.37,3.08 / 6.06,0,0.35,7.09,2019Q1,2019,23.01,23.95
42,Q4 2018,1/31/19,--,5.68,6.04,0.36,4.37 / 8.27,5.96,0.3,6.04,2018Q4,2018,20.13,20.13
44,Q3 2018,10/25/18,--,3.14,5.75,2.61,2.25 / 4.40,3.25,0.29,5.75,2018Q3,2018,20.13,17.84
46,Q2 2018,7/26/18,--,2.54,5.07,2.53,1.53 / 3.09,2.55,0.25,5.07,2018Q2,2018,20.13,12.61
48,Q1 2018,4/26/18,--,1.26,3.27,2.01,0.66 / 1.79,1.3,0.16,3.27,2018Q1,2018,20.13,7.94
50,Q4 2017,2/1/18,--,1.84,2.16,0.32,1.21 / 2.62,1.82,0.19,3.75,2017Q4,2017,6.15,6.15
52,Q3 2017,10/26/17,--,0.03,0.52,0.49,-1.269230769,0.1,0.03,0.52,2017Q3,2017,6.15,3.94
54,Q2 2017,7/27/17,--,1.42,0.4,-1.02,1.04 / 2.42,1.45,0.02,0.40,2017Q2,2017,6.15,3.94
56,Q1 2017,4/27/17,--,1.09,1.48,0.39,0.26 / 2.34,1.14,0.07,1.48,2017Q1,2017,6.15,5.32
58,Q4 2016,2/2/17,--,1.35,1.54,0.19,0.36 / 1.84,1.4,0.08,1.54,2016Q4,2016,4.91,4.91
60,Q3 2016,10/27/16,--,0.78,0.52,-0.26,0.39 / 1.54,0.83,0.03,0.52,2016Q3,2016,4.91,4.37
62,Q2 2016,7/28/16,--,1.11,1.78,0.67,0.49 / 1.85,1.15,0.09,1.78,2016Q2,2016,4.91,4.02
64,Q1 2016,4/28/16,--,0.58,1.07,0.49,-0.160714286,0.6,0.05,1.07,2016Q1,2016,4.91,2.43
66,Q4 2015,1/28/16,--,1.56,1,-0.56,0.60 / 2.41,1.59,0.05,1.00,2015Q4,2015,1.24,1.24
68,Q3 2015,10/22/15,--,-0.14,0.17,0.31,-1.714285714,-0.12,0.01,0.17,2015Q3,2015,1.24,0.69
70,Q2 2015,7/23/15,--,-0.14,0.19,0.33,-1.648648649,-0.16,0.01,0.19,2015Q2,2015,1.24,-0.43
72,Q1 2015,4/23/15,--,-0.12,-0.12,0,-1.6,-0.11,-0.01,-0.12,2015Q1,2015,1.24,-0.89
74,Q4 2014,1/29/15,--,0.17,0.45,0.28,-0.732142857,0.15,0.02,0.45,2014Q4,2014,-0.54,-0.54
76,Q3 2014,10/23/14,--,-0.74,-0.95,-0.21,3.170731707,-0.74,-0.05,-0.95,2014Q3,2014,-0.54,-0.48
78,Q2 2014,7/24/14,--,-0.15,-0.27,-0.12,-7.285714286,-0.16,-0.01,-0.27,2014Q2,2014,-0.54,NaN
80,Q1 2014,4/24/14,--,0.23,0.23,0,-0.019230769,0.23,0.01,0.23,2014Q1,2014,-0.54,NaN
82,Q4 2013,1/30/14,--,0.66,0.51,-0.15,0.01 / 1.88,0.7,0.03,0.51,2013Q4,2013,0.51,NaN

In [37]:
merged_amznEPS = pd.merge(close, amznEPS, on='FSQuarter', how='inner')
merged_amznEPS

,Date,AMZN,BAC,GOOGL,MCD,VZ,Cur Quarter,FSQuarter,year_x,Quarter,...,Consensus est. EPS ($),Adjusted actualsÂ EPS ($),EPS difference,Est. low/high range ($),StarMine from RefinitivÂ SmartEstimate($),GAAP EPS ($),Reported EPS ($),year_y,amznyeps,amzn4Qsum
0,2014-01-02,19.898500,16.100000,27.855856,96.410004,49.000000,2014Q1,2013Q4,2014,Q4 2013,...,0.66,0.51,-0.15,0.01 / 1.88,0.7,0.03,0.51,2013,0.51,NaN
1,2014-01-03,19.822001,16.410000,27.652653,96.540001,48.419998,2014Q1,2013Q4,2014,Q4 2013,...,0.66,0.51,-0.15,0.01 / 1.88,0.7,0.03,0.51,2013,0.51,NaN
2,2014-01-06,19.681499,16.660000,27.960960,95.849998,48.689999,2014Q1,2013Q4,2014,Q4 2013,...,0.66,0.51,-0.15,0.01 / 1.88,0.7,0.03,0.51,2013,0.51,NaN
3,2014-01-07,19.901501,16.500000,28.500000,96.379997,49.299999,2014Q1,2013Q4,2014,Q4 2013,...,0.66,0.51,-0.15,0.01 / 1.88,0.7,0.03,0.51,2013,0.51,NaN
4,2014-01-08,20.096001,16.580000,28.559309,95.410004,48.500000,2014Q1,2013Q4,2014,Q4 2013,...,0.66,0.51,-0.15,0.01 / 1.88,0.7,0.03,0.51,2013,0.51,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2486,2023-11-16,142.830002,29.540001,136.929993,276.119995,36.180000,2023Q4,2023Q3,2023,Q3 2023,...,0.58,0.94,0.36,0.44 / 0.71,0.61,0.94,0.94,2023,1.90,1.93
2487,2023-11-17,145.179993,29.980000,135.309998,275.750000,36.230000,2023Q4,2023Q3,2023,Q3 2023,...,0.58,0.94,0.36,0.44 / 0.71,0.61,0.94,0.94,2023,1.90,1.93
2488,2023-11-20,146.130005,30.010000,136.250000,279.029999,36.730000,2023Q4,2023Q3,2023,Q3 2023,...,0.58,0.94,0.36,0.44 / 0.71,0.61,0.94,0.94,2023,1.90,1.93
2489,2023-11-21,143.899994,29.660000,136.970001,280.470001,37.250000,2023Q4,2023Q3,2023,Q3 2023,...,0.58,0.94,0.36,0.44 / 0.71,0.61,0.94,0.94,2023,1.90,1.93
2490,2023-11-22,146.710007,29.629999,138.490005,281.929993,37.349998,2023Q4,2023Q3,2023,Q3 2023,...,0.58,0.94,0.36,0.44 / 0.71,0.61,0.94,0.94,2023,1.90,1.93

In [38]:
#Merege the EPS to Master dataset
close["amzn4Qsum"] = merged_amznEPS['amzn4Qsum']
close["amznPEratio"] = close["AMZN"] / close["amzn4Qsum"]

In [39]:
close

,Date,AMZN,BAC,GOOGL,MCD,VZ,Cur Quarter,FSQuarter,year,amzn4Qsum,amznPEratio
0,2014-01-02,19.898500,16.100000,27.855856,96.410004,49.000000,2014Q1,2013Q4,2014,NaN,NaN
1,2014-01-03,19.822001,16.410000,27.652653,96.540001,48.419998,2014Q1,2013Q4,2014,NaN,NaN
2,2014-01-06,19.681499,16.660000,27.960960,95.849998,48.689999,2014Q1,2013Q4,2014,NaN,NaN
3,2014-01-07,19.901501,16.500000,28.500000,96.379997,49.299999,2014Q1,2013Q4,2014,NaN,NaN
4,2014-01-08,20.096001,16.580000,28.559309,95.410004,48.500000,2014Q1,2013Q4,2014,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
2486,2023-11-16,142.830002,29.540001,136.929993,276.119995,36.180000,2023Q4,2023Q3,2023,1.93,74.005182
2487,2023-11-17,145.179993,29.980000,135.309998,275.750000,36.230000,2023Q4,2023Q3,2023,1.93,75.222794
2488,2023-11-20,146.130005,30.010000,136.250000,279.029999,36.730000,2023Q4,2023Q3,2023,1.93,75.715028
2489,2023-11-21,143.899994,29.660000,136.970001,280.470001,37.250000,2023Q4,2023Q3,2023,1.93,74.559582
2490,2023-11-22,146.710007,29.629999,138.490005,281.929993,37.349998,2023Q4,2023Q3,2023,1.93,76.015548

In [40]:
#To get the value PE Ration as financial mertic
close['amznyeps'] = merged_amznEPS['amznyeps']
close

,Date,AMZN,BAC,GOOGL,MCD,VZ,Cur Quarter,FSQuarter,year,amzn4Qsum,amznPEratio,amznyeps
0,2014-01-02,19.898500,16.100000,27.855856,96.410004,49.000000,2014Q1,2013Q4,2014,NaN,NaN,0.51
1,2014-01-03,19.822001,16.410000,27.652653,96.540001,48.419998,2014Q1,2013Q4,2014,NaN,NaN,0.51
2,2014-01-06,19.681499,16.660000,27.960960,95.849998,48.689999,2014Q1,2013Q4,2014,NaN,NaN,0.51
3,2014-01-07,19.901501,16.500000,28.500000,96.379997,49.299999,2014Q1,2013Q4,2014,NaN,NaN,0.51
4,2014-01-08,20.096001,16.580000,28.559309,95.410004,48.500000,2014Q1,2013Q4,2014,NaN,NaN,0.51
...,...,...,...,...,...,...,...,...,...,...,...,...
2486,2023-11-16,142.830002,29.540001,136.929993,276.119995,36.180000,2023Q4,2023Q3,2023,1.93,74.005182,1.90
2487,2023-11-17,145.179993,29.980000,135.309998,275.750000,36.230000,2023Q4,2023Q3,2023,1.93,75.222794,1.90
2488,2023-11-20,146.130005,30.010000,136.250000,279.029999,36.730000,2023Q4,2023Q3,2023,1.93,75.715028,1.90
2489,2023-11-21,143.899994,29.660000,136.970001,280.470001,37.250000,2023Q4,2023Q3,2023,1.93,74.559582,1.90
2490,2023-11-22,146.710007,29.629999,138.490005,281.929993,37.349998,2023Q4,2023Q3,2023,1.93,76.015548,1.90

In [41]:
#repeat the above step for the rest of the companies
#import Google EPS report
bacEPS = pd.read_csv("bac.csv")
print(bacEPS.columns)

Index(['Quarter', 'Report date', 'Report time', 'Consensus est. EPS ($)',
       'Adjusted actualsÂ EPS ($)', 'EPS difference', 'Est. low/high range ($)',
       'StarMine from RefinitivÂ SmartEstimate($)Â ', 'GAAP EPS ($)',
       'Reported EPS ($)'],
      dtype='object')

In [42]:
quarter_info = bacEPS['Quarter'].str.extract(r'Q(\d) (\d{4})')
bacEPS['FSQuarter'] = quarter_info[1] + 'Q' + quarter_info[0]
bacEPS

,Quarter,Report date,Report time,Consensus est. EPS ($),Adjusted actualsÂ EPS ($),EPS difference,Est. low/high range ($),StarMine from RefinitivÂ SmartEstimate($),GAAP EPS ($),Reported EPS ($),FSQuarter
0,Q1 2024,4/16/24,--,0.79,--,--,0.72 / 0.86,--,--,--,2024Q1
1,NaN,NaN,NaN,(14 Analysts),NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Q4 2023,01/12/2024,--,0.76,--,--,0.69 / 0.85,0.76,--,--,2023Q4
3,NaN,NaN,NaN,(16 Analysts),NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Q3 2023,10/17/23,--,0.82,0.9,0.08,0.77 / 0.87,0.82,0.9,0.9,2023Q3
...,...,...,...,...,...,...,...,...,...,...,...
79,NaN,NaN,NaN,(21 Analysts),NaN,NaN,NaN,NaN,NaN,NaN,NaN
80,Q1 2014,4/16/14,--,0.05,-0.05,-0.1,0.02 / 0.11,0.05,-0.05,-0.05,2014Q1
81,NaN,NaN,NaN,(24 Analysts),NaN,NaN,NaN,NaN,NaN,NaN,NaN
82,Q4 2013,1/15/14,--,0.26,0.29,0.03,0.20 / 0.31,0.25,0.29,0.29,2013Q4
83,NaN,NaN,NaN,(29 Analysts),NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [43]:
bacEPS['FSQuarter'] = pd.PeriodIndex(bacEPS['FSQuarter'], freq='Q-DEC')

In [44]:
bacEPS = bacEPS.dropna()
bacEPS['year'] = bacEPS['Quarter'].str.extract('(\d{4})').astype(int)
bacEPS['Reported EPS ($)'] = pd.to_numeric(bacEPS['Reported EPS ($)'], errors='coerce')
bacEPS['bacyeps'] = bacEPS.groupby('year')['Reported EPS ($)'].transform('sum')
bacEPS

/var/folders/y_/xzdtpw157lxfxq97fg75kg4m0000gn/T/ipykernel_29991/2228144653.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bacEPS['year'] = bacEPS['Quarter'].str.extract('(\d{4})').astype(int)
/var/folders/y_/xzdtpw157lxfxq97fg75kg4m0000gn/T/ipykernel_29991/2228144653.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bacEPS['Reported EPS ($)'] = pd.to_numeric(bacEPS['Reported EPS ($)'], errors='coerce')
/var/folders/y_/xzdtpw157lxfxq97fg75kg4m0000gn/T/ipykernel_29991/2228144653.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bacEPS['bacyeps'] = bacEPS.groupby('year')['Reported EPS ($)'].transform('sum')

,Quarter,Report date,Report time,Consensus est. EPS ($),Adjusted actualsÂ EPS ($),EPS difference,Est. low/high range ($),StarMine from RefinitivÂ SmartEstimate($),GAAP EPS ($),Reported EPS ($),FSQuarter,year,bacyeps
0,Q1 2024,4/16/24,--,0.79,--,--,0.72 / 0.86,--,--,NaN,2024Q1,2024,0.00
2,Q4 2023,01/12/2024,--,0.76,--,--,0.69 / 0.85,0.76,--,NaN,2023Q4,2023,2.72
4,Q3 2023,10/17/23,--,0.82,0.9,0.08,0.77 / 0.87,0.82,0.9,0.90,2023Q3,2023,2.72
6,Q2 2023,7/18/23,--,0.84,0.88,0.04,0.76 / 0.89,0.85,0.88,0.88,2023Q2,2023,2.72
8,Q1 2023,4/18/23,--,0.82,0.94,0.12,0.69 / 0.97,0.8,0.94,0.94,2023Q1,2023,2.72
10,Q4 2022,1/13/23,--,0.77,0.85,0.08,0.69 / 0.84,0.76,0.85,0.85,2022Q4,2022,3.19
12,Q3 2022,10/17/22,--,0.77,0.81,0.04,0.63 / 0.84,0.78,0.81,0.81,2022Q3,2022,3.19
14,Q2 2022,7/18/22,--,0.75,0.73,-0.02,0.68 / 0.83,0.75,0.73,0.73,2022Q2,2022,3.19
16,Q1 2022,4/18/22,--,0.75,0.8,0.05,0.68 / 0.80,0.75,0.8,0.80,2022Q1,2022,3.19
18,Q4 2021,1/19/22,--,0.76,0.82,0.06,0.70 / 0.80,0.77,0.82,0.82,2021Q4,2021,3.56
20,Q3 2021,10/14/21,--,0.71,0.85,0.14,0.63 / 0.79,0.72,0.85,0.85,2021Q3,2021,3.56
22,Q2 2021,7/14/21,--,0.77,1.03,0.26,0.68 / 0.92,0.76,1.03,1.03,2021Q2,2021,3.56
24,Q1 2021,4/15/21,--,0.66,0.86,0.2,0.55 / 0.78,0.66,0.86,0.86,2021Q1,2021,3.56
26,Q4 2020,1/19/21,--,0.55,0.59,0.04,0.46 / 0.63,0.55,0.59,0.59,2020Q4,2020,1.87
28,Q3 2020,10/14/20,--,0.49,0.51,0.02,0.28 / 0.60,0.39,0.51,0.51,2020Q3,2020,1.87
30,Q2 2020,7/16/20,--,0.27,0.37,0.1,0.06 / 0.42,0.3,0.37,0.37,2020Q2,2020,1.87
32,Q1 2020,4/15/20,--,0.46,0.4,-0.06,-1.579710145,0.48,0.4,0.40,2020Q1,2020,1.87
34,Q4 2019,1/15/20,--,0.68,0.74,0.06,0.65 / 0.71,0.68,0.74,0.74,2019Q4,2019,2.74
36,Q3 2019,10/16/19,--,0.51,0.56,0.05,0.49 / 0.53,0.51,0.56,0.56,2019Q3,2019,2.74
38,Q2 2019,7/17/19,--,0.71,0.74,0.03,0.67 / 0.75,0.71,0.74,0.74,2019Q2,2019,2.74
40,Q1 2019,4/16/19,--,0.66,0.7,0.04,0.62 / 0.71,0.66,0.7,0.70,2019Q1,2019,2.74
42,Q4 2018,1/16/19,--,0.63,0.7,0.07,0.59 / 0.67,0.63,0.7,0.70,2018Q4,2018,2.61
44,Q3 2018,10/15/18,--,0.62,0.66,0.04,0.60 / 0.64,0.62,0.66,0.66,2018Q3,2018,2.61
46,Q2 2018,7/16/18,--,0.57,0.63,0.06,0.54 / 0.61,0.58,0.63,0.63,2018Q2,2018,2.61
48,Q1 2018,4/16/18,--,0.59,0.62,0.03,0.55 / 0.63,0.6,0.62,0.62,2018Q1,2018,2.61
50,Q4 2017,1/17/18,--,0.44,0.48,0.04,0.41 / 0.48,0.44,0.2,0.20,2017Q4,2017,1.55
52,Q3 2017,10/13/17,--,0.45,0.48,0.03,0.43 / 0.48,0.45,0.46,0.48,2017Q3,2017,1.55
54,Q2 2017,7/18/17,--,0.43,0.46,0.03,0.40 / 0.45,0.48,0.44,0.46,2017Q2,2017,1.55
56,Q1 2017,4/18/17,--,0.35,0.41,0.06,0.31 / 0.37,0.35,0.45,0.41,2017Q1,2017,1.55
58,Q4 2016,1/13/17,--,0.38,0.4,0.02,0.35 / 0.41,0.38,0.4,0.40,2016Q4,2016,1.50
60,Q3 2016,10/17/16,--,0.34,0.41,0.07,0.31 / 0.37,0.34,0.41,0.41,2016Q3,2016,1.50
62,Q2 2016,7/18/16,--,0.33,0.41,0.08,0.26 / 0.40,0.32,0.4,0.41,2016Q2,2016,1.50
64,Q1 2016,4/14/16,--,0.21,0.28,0.07,0.15 / 0.25,0.2,0.28,0.28,2016Q1,2016,1.50
66,Q4 2015,1/19/16,--,0.26,0.27,0.01,0.24 / 0.30,0.26,0.28,0.27,2015Q4,2015,1.30
68,Q3 2015,10/14/15,--,0.33,0.38,0.05,0.29 / 0.38,0.32,0.38,0.38,2015Q3,2015,1.30
70,Q2 2015,7/15/15,--,0.36,0.38,0.02,0.31 / 0.40,0.35,0.4,0.38,2015Q2,2015,1.30
72,Q1 2015,4/15/15,--,0.29,0.27,-0.02,0.24 / 0.34,0.29,0.25,0.27,2015Q1,2015,1.30
74,Q4 2014,1/15/15,--,0.31,0.25,-0.06,0.29 / 0.35,0.31,0.25,0.25,2014Q4,2014,0.35
76,Q3 2014,10/15/14,--,-0.09,-0.04,0.05,2.8,-0.09,-0.04,-0.04,2014Q3,2014,0.35
78,Q2 2014,7/16/14,--,0.29,0.19,-0.1,0.24 / 0.33,0.27,0.19,0.19,2014Q2,2014,0.35
80,Q1 2014,4/16/14,--,0.05,-0.05,-0.1,0.02 / 0.11,0.05,-0.05,-0.05,2014Q1,2014,0.35
82,Q4 2013,1/15/14,--,0.26,0.29,0.03,0.20 / 0.31,0.25,0.29,0.29,2013Q4,2013,0.29

In [45]:
bacEPS['Reported EPS ($)'] = pd.to_numeric(bacEPS['Reported EPS ($)'], errors='coerce')
window_size = 4
rolling_sum = bacEPS['Reported EPS ($)'].rolling(window=window_size).sum()
rolling_sum_shifted = rolling_sum.shift(-window_size + 1)
bacEPS['bac4Qsum'] = rolling_sum_shifted
bacEPS

/var/folders/y_/xzdtpw157lxfxq97fg75kg4m0000gn/T/ipykernel_29991/2881757851.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bacEPS['Reported EPS ($)'] = pd.to_numeric(bacEPS['Reported EPS ($)'], errors='coerce')
/var/folders/y_/xzdtpw157lxfxq97fg75kg4m0000gn/T/ipykernel_29991/2881757851.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bacEPS['bac4Qsum'] = rolling_sum_shifted

,Quarter,Report date,Report time,Consensus est. EPS ($),Adjusted actualsÂ EPS ($),EPS difference,Est. low/high range ($),StarMine from RefinitivÂ SmartEstimate($),GAAP EPS ($),Reported EPS ($),FSQuarter,year,bacyeps,bac4Qsum
0,Q1 2024,4/16/24,--,0.79,--,--,0.72 / 0.86,--,--,NaN,2024Q1,2024,0.00,NaN
2,Q4 2023,01/12/2024,--,0.76,--,--,0.69 / 0.85,0.76,--,NaN,2023Q4,2023,2.72,NaN
4,Q3 2023,10/17/23,--,0.82,0.9,0.08,0.77 / 0.87,0.82,0.9,0.90,2023Q3,2023,2.72,3.57
6,Q2 2023,7/18/23,--,0.84,0.88,0.04,0.76 / 0.89,0.85,0.88,0.88,2023Q2,2023,2.72,3.48
8,Q1 2023,4/18/23,--,0.82,0.94,0.12,0.69 / 0.97,0.8,0.94,0.94,2023Q1,2023,2.72,3.33
10,Q4 2022,1/13/23,--,0.77,0.85,0.08,0.69 / 0.84,0.76,0.85,0.85,2022Q4,2022,3.19,3.19
12,Q3 2022,10/17/22,--,0.77,0.81,0.04,0.63 / 0.84,0.78,0.81,0.81,2022Q3,2022,3.19,3.16
14,Q2 2022,7/18/22,--,0.75,0.73,-0.02,0.68 / 0.83,0.75,0.73,0.73,2022Q2,2022,3.19,3.20
16,Q1 2022,4/18/22,--,0.75,0.8,0.05,0.68 / 0.80,0.75,0.8,0.80,2022Q1,2022,3.19,3.50
18,Q4 2021,1/19/22,--,0.76,0.82,0.06,0.70 / 0.80,0.77,0.82,0.82,2021Q4,2021,3.56,3.56
20,Q3 2021,10/14/21,--,0.71,0.85,0.14,0.63 / 0.79,0.72,0.85,0.85,2021Q3,2021,3.56,3.33
22,Q2 2021,7/14/21,--,0.77,1.03,0.26,0.68 / 0.92,0.76,1.03,1.03,2021Q2,2021,3.56,2.99
24,Q1 2021,4/15/21,--,0.66,0.86,0.2,0.55 / 0.78,0.66,0.86,0.86,2021Q1,2021,3.56,2.33
26,Q4 2020,1/19/21,--,0.55,0.59,0.04,0.46 / 0.63,0.55,0.59,0.59,2020Q4,2020,1.87,1.87
28,Q3 2020,10/14/20,--,0.49,0.51,0.02,0.28 / 0.60,0.39,0.51,0.51,2020Q3,2020,1.87,2.02
30,Q2 2020,7/16/20,--,0.27,0.37,0.1,0.06 / 0.42,0.3,0.37,0.37,2020Q2,2020,1.87,2.07
32,Q1 2020,4/15/20,--,0.46,0.4,-0.06,-1.579710145,0.48,0.4,0.40,2020Q1,2020,1.87,2.44
34,Q4 2019,1/15/20,--,0.68,0.74,0.06,0.65 / 0.71,0.68,0.74,0.74,2019Q4,2019,2.74,2.74
36,Q3 2019,10/16/19,--,0.51,0.56,0.05,0.49 / 0.53,0.51,0.56,0.56,2019Q3,2019,2.74,2.70
38,Q2 2019,7/17/19,--,0.71,0.74,0.03,0.67 / 0.75,0.71,0.74,0.74,2019Q2,2019,2.74,2.80
40,Q1 2019,4/16/19,--,0.66,0.7,0.04,0.62 / 0.71,0.66,0.7,0.70,2019Q1,2019,2.74,2.69
42,Q4 2018,1/16/19,--,0.63,0.7,0.07,0.59 / 0.67,0.63,0.7,0.70,2018Q4,2018,2.61,2.61
44,Q3 2018,10/15/18,--,0.62,0.66,0.04,0.60 / 0.64,0.62,0.66,0.66,2018Q3,2018,2.61,2.11
46,Q2 2018,7/16/18,--,0.57,0.63,0.06,0.54 / 0.61,0.58,0.63,0.63,2018Q2,2018,2.61,1.93
48,Q1 2018,4/16/18,--,0.59,0.62,0.03,0.55 / 0.63,0.6,0.62,0.62,2018Q1,2018,2.61,1.76
50,Q4 2017,1/17/18,--,0.44,0.48,0.04,0.41 / 0.48,0.44,0.2,0.20,2017Q4,2017,1.55,1.55
52,Q3 2017,10/13/17,--,0.45,0.48,0.03,0.43 / 0.48,0.45,0.46,0.48,2017Q3,2017,1.55,1.75
54,Q2 2017,7/18/17,--,0.43,0.46,0.03,0.40 / 0.45,0.48,0.44,0.46,2017Q2,2017,1.55,1.68
56,Q1 2017,4/18/17,--,0.35,0.41,0.06,0.31 / 0.37,0.35,0.45,0.41,2017Q1,2017,1.55,1.63
58,Q4 2016,1/13/17,--,0.38,0.4,0.02,0.35 / 0.41,0.38,0.4,0.40,2016Q4,2016,1.50,1.50
60,Q3 2016,10/17/16,--,0.34,0.41,0.07,0.31 / 0.37,0.34,0.41,0.41,2016Q3,2016,1.50,1.37
62,Q2 2016,7/18/16,--,0.33,0.41,0.08,0.26 / 0.40,0.32,0.4,0.41,2016Q2,2016,1.50,1.34
64,Q1 2016,4/14/16,--,0.21,0.28,0.07,0.15 / 0.25,0.2,0.28,0.28,2016Q1,2016,1.50,1.31
66,Q4 2015,1/19/16,--,0.26,0.27,0.01,0.24 / 0.30,0.26,0.28,0.27,2015Q4,2015,1.30,1.30
68,Q3 2015,10/14/15,--,0.33,0.38,0.05,0.29 / 0.38,0.32,0.38,0.38,2015Q3,2015,1.30,1.28
70,Q2 2015,7/15/15,--,0.36,0.38,0.02,0.31 / 0.40,0.35,0.4,0.38,2015Q2,2015,1.30,0.86
72,Q1 2015,4/15/15,--,0.29,0.27,-0.02,0.24 / 0.34,0.29,0.25,0.27,2015Q1,2015,1.30,0.67
74,Q4 2014,1/15/15,--,0.31,0.25,-0.06,0.29 / 0.35,0.31,0.25,0.25,2014Q4,2014,0.35,0.35
76,Q3 2014,10/15/14,--,-0.09,-0.04,0.05,2.8,-0.09,-0.04,-0.04,2014Q3,2014,0.35,0.39
78,Q2 2014,7/16/14,--,0.29,0.19,-0.1,0.24 / 0.33,0.27,0.19,0.19,2014Q2,2014,0.35,NaN
80,Q1 2014,4/16/14,--,0.05,-0.05,-0.1,0.02 / 0.11,0.05,-0.05,-0.05,2014Q1,2014,0.35,NaN
82,Q4 2013,1/15/14,--,0.26,0.29,0.03,0.20 / 0.31,0.25,0.29,0.29,2013Q4,2013,0.29,NaN

In [46]:
merged_bacEPS = pd.merge(close, bacEPS, on='FSQuarter', how='inner')
merged_bacEPS

,Date,AMZN,BAC,GOOGL,MCD,VZ,Cur Quarter,FSQuarter,year_x,amzn4Qsum,...,Consensus est. EPS ($),Adjusted actualsÂ EPS ($),EPS difference,Est. low/high range ($),StarMine from RefinitivÂ SmartEstimate($),GAAP EPS ($),Reported EPS ($),year_y,bacyeps,bac4Qsum
0,2014-01-02,19.898500,16.100000,27.855856,96.410004,49.000000,2014Q1,2013Q4,2014,NaN,...,0.26,0.29,0.03,0.20 / 0.31,0.25,0.29,0.29,2013,0.29,NaN
1,2014-01-03,19.822001,16.410000,27.652653,96.540001,48.419998,2014Q1,2013Q4,2014,NaN,...,0.26,0.29,0.03,0.20 / 0.31,0.25,0.29,0.29,2013,0.29,NaN
2,2014-01-06,19.681499,16.660000,27.960960,95.849998,48.689999,2014Q1,2013Q4,2014,NaN,...,0.26,0.29,0.03,0.20 / 0.31,0.25,0.29,0.29,2013,0.29,NaN
3,2014-01-07,19.901501,16.500000,28.500000,96.379997,49.299999,2014Q1,2013Q4,2014,NaN,...,0.26,0.29,0.03,0.20 / 0.31,0.25,0.29,0.29,2013,0.29,NaN
4,2014-01-08,20.096001,16.580000,28.559309,95.410004,48.500000,2014Q1,2013Q4,2014,NaN,...,0.26,0.29,0.03,0.20 / 0.31,0.25,0.29,0.29,2013,0.29,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2486,2023-11-16,142.830002,29.540001,136.929993,276.119995,36.180000,2023Q4,2023Q3,2023,1.93,...,0.82,0.9,0.08,0.77 / 0.87,0.82,0.9,0.90,2023,2.72,3.57
2487,2023-11-17,145.179993,29.980000,135.309998,275.750000,36.230000,2023Q4,2023Q3,2023,1.93,...,0.82,0.9,0.08,0.77 / 0.87,0.82,0.9,0.90,2023,2.72,3.57
2488,2023-11-20,146.130005,30.010000,136.250000,279.029999,36.730000,2023Q4,2023Q3,2023,1.93,...,0.82,0.9,0.08,0.77 / 0.87,0.82,0.9,0.90,2023,2.72,3.57
2489,2023-11-21,143.899994,29.660000,136.970001,280.470001,37.250000,2023Q4,2023Q3,2023,1.93,...,0.82,0.9,0.08,0.77 / 0.87,0.82,0.9,0.90,2023,2.72,3.57
2490,2023-11-22,146.710007,29.629999,138.490005,281.929993,37.349998,2023Q4,2023Q3,2023,1.93,...,0.82,0.9,0.08,0.77 / 0.87,0.82,0.9,0.90,2023,2.72,3.57

In [47]:
close["bac4Qsum"] = merged_bacEPS['bac4Qsum']
close["bacPEratio"] = close["BAC"] / close["bac4Qsum"]
close["bacyeps"] = merged_bacEPS['bacyeps']
close

,Date,AMZN,BAC,GOOGL,MCD,VZ,Cur Quarter,FSQuarter,year,amzn4Qsum,amznPEratio,amznyeps,bac4Qsum,bacPEratio,bacyeps
0,2014-01-02,19.898500,16.100000,27.855856,96.410004,49.000000,2014Q1,2013Q4,2014,NaN,NaN,0.51,NaN,NaN,0.29
1,2014-01-03,19.822001,16.410000,27.652653,96.540001,48.419998,2014Q1,2013Q4,2014,NaN,NaN,0.51,NaN,NaN,0.29
2,2014-01-06,19.681499,16.660000,27.960960,95.849998,48.689999,2014Q1,2013Q4,2014,NaN,NaN,0.51,NaN,NaN,0.29
3,2014-01-07,19.901501,16.500000,28.500000,96.379997,49.299999,2014Q1,2013Q4,2014,NaN,NaN,0.51,NaN,NaN,0.29
4,2014-01-08,20.096001,16.580000,28.559309,95.410004,48.500000,2014Q1,2013Q4,2014,NaN,NaN,0.51,NaN,NaN,0.29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2486,2023-11-16,142.830002,29.540001,136.929993,276.119995,36.180000,2023Q4,2023Q3,2023,1.93,74.005182,1.90,3.57,8.274510,2.72
2487,2023-11-17,145.179993,29.980000,135.309998,275.750000,36.230000,2023Q4,2023Q3,2023,1.93,75.222794,1.90,3.57,8.397759,2.72
2488,2023-11-20,146.130005,30.010000,136.250000,279.029999,36.730000,2023Q4,2023Q3,2023,1.93,75.715028,1.90,3.57,8.406163,2.72
2489,2023-11-21,143.899994,29.660000,136.970001,280.470001,37.250000,2023Q4,2023Q3,2023,1.93,74.559582,1.90,3.57,8.308123,2.72
2490,2023-11-22,146.710007,29.629999,138.490005,281.929993,37.349998,2023Q4,2023Q3,2023,1.93,76.015548,1.90,3.57,8.299720,2.72

In [48]:
#import Google EPS report
googlEPS = pd.read_csv("google.csv")
print(googlEPS.columns)

Index(['Quarter', 'Report date', 'Report time', 'Consensus est. EPS ($)',
       'Adjusted actualsÂ EPS ($)', 'EPS difference', 'Est. low/high range ($)',
       'StarMine from RefinitivÂ SmartEstimate($)Â ', 'GAAP EPS ($)',
       'Reported EPS ($)'],
      dtype='object')

In [49]:
quarter_info = googlEPS['Quarter'].str.extract(r'Q(\d) (\d{4})')
googlEPS['FSQuarter'] = quarter_info[1] + 'Q' + quarter_info[0]
googlEPS

,Quarter,Report date,Report time,Consensus est. EPS ($),Adjusted actualsÂ EPS ($),EPS difference,Est. low/high range ($),StarMine from RefinitivÂ SmartEstimate($),GAAP EPS ($),Reported EPS ($),FSQuarter
0,Q1 2024,4/23/24,--,1.5,--,--,1.36 / 1.65,--,--,--,2024Q1
1,NaN,NaN,NaN,(23 Analysts),NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Q4 2023,1/31/24,--,1.59,--,--,1.43 / 1.75,1.58,--,--,2023Q4
3,NaN,NaN,NaN,(36 Analysts),NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Q3 2023,10/24/23,--,1.45,1.55,0.1,1.27 / 1.55,1.47,1.55,1.55,2023Q3
...,...,...,...,...,...,...,...,...,...,...,...
79,NaN,NaN,NaN,(42 Analysts),NaN,NaN,NaN,NaN,NaN,NaN,NaN
80,Q1 2014,4/16/14,--,6.41,6.16,-0.25,5.83 / 6.96,6.4,0.52,4.92,2014Q1
81,NaN,NaN,NaN,(38 Analysts),NaN,NaN,NaN,NaN,NaN,NaN,NaN
82,Q4 2013,1/30/14,--,6.1,6.01,-0.09,5.03 / 6.84,--,0.57,4.95,2013Q4
83,NaN,NaN,NaN,(42 Analysts),NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [50]:
googlEPS['FSQuarter'] = pd.PeriodIndex(googlEPS['FSQuarter'], freq='Q-DEC')

In [51]:
googlEPS = googlEPS.dropna()
googlEPS['year'] = googlEPS['Quarter'].str.extract('(\d{4})').astype(int)
googlEPS['Reported EPS ($)'] = pd.to_numeric(googlEPS['Reported EPS ($)'], errors='coerce')
googlEPS['googlyeps'] = googlEPS.groupby('year')['Reported EPS ($)'].transform('sum')
googlEPS

/var/folders/y_/xzdtpw157lxfxq97fg75kg4m0000gn/T/ipykernel_29991/807139848.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  googlEPS['year'] = googlEPS['Quarter'].str.extract('(\d{4})').astype(int)
/var/folders/y_/xzdtpw157lxfxq97fg75kg4m0000gn/T/ipykernel_29991/807139848.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  googlEPS['Reported EPS ($)'] = pd.to_numeric(googlEPS['Reported EPS ($)'], errors='coerce')
/var/folders/y_/xzdtpw157lxfxq97fg75kg4m0000gn/T/ipykernel_29991/807139848.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  googlEPS['googlyeps'] = googlEPS.groupby('year')['Reported EPS ($)'].transform('sum')

,Quarter,Report date,Report time,Consensus est. EPS ($),Adjusted actualsÂ EPS ($),EPS difference,Est. low/high range ($),StarMine from RefinitivÂ SmartEstimate($),GAAP EPS ($),Reported EPS ($),FSQuarter,year,googlyeps
0,Q1 2024,4/23/24,--,1.5,--,--,1.36 / 1.65,--,--,NaN,2024Q1,2024,0.00
2,Q4 2023,1/31/24,--,1.59,--,--,1.43 / 1.75,1.58,--,NaN,2023Q4,2023,4.16
4,Q3 2023,10/24/23,--,1.45,1.55,0.1,1.27 / 1.55,1.47,1.55,1.55,2023Q3,2023,4.16
6,Q2 2023,7/25/23,--,1.34,1.44,0.1,1.06 / 1.50,1.35,1.44,1.44,2023Q2,2023,4.16
8,Q1 2023,4/25/23,--,1.07,1.17,0.1,0.87 / 1.21,1.08,1.17,1.17,2023Q1,2023,4.16
10,Q4 2022,02/02/2023,--,1.18,1.05,-0.13,0.95 / 1.34,1.16,1.05,1.05,2022Q4,2022,4.55
12,Q3 2022,10/25/22,--,1.25,1.06,-0.19,1.06 / 1.50,1.23,1.06,1.06,2022Q3,2022,4.55
14,Q2 2022,7/26/22,--,1.28,1.21,-0.07,1.12 / 1.54,1.25,1.21,1.21,2022Q2,2022,4.55
16,Q1 2022,4/26/22,--,1.3,1.23,-0.07,22.94 / 31.66,1.31,1.23,1.23,2022Q1,2022,4.55
18,Q4 2021,02/01/2022,--,1.37,1.53,0.16,23.03 / 31.00,1.39,1.53,1.53,2021Q4,2021,5.60
20,Q3 2021,10/26/21,--,1.17,1.4,0.23,19.50 / 30.67,1.23,1.4,1.40,2021Q3,2021,5.60
22,Q2 2021,7/27/21,--,0.97,1.36,0.39,12.71 / 24.43,0.99,1.36,1.36,2021Q2,2021,5.60
24,Q1 2021,4/27/21,--,0.79,1.31,0.52,11.47 / 19.44,0.79,1.31,1.31,2021Q1,2021,5.60
26,Q4 2020,02/02/2021,--,0.8,1.12,0.32,13.83 / 18.82,0.8,1.12,1.12,2020Q4,2020,12.32
28,Q3 2020,10/29/20,--,0.56,0.82,0.26,8.95 / 14.67,--,0.82,0.82,2020Q3,2020,12.32
30,Q2 2020,7/30/20,--,0.41,0.51,0.1,5.73 / 10.24,0.41,0.51,0.51,2020Q2,2020,12.32
32,Q1 2020,4/28/20,--,10.33,9.87,-0.46,8.51 / 14.46,0.51,0.49,9.87,2020Q1,2020,12.32
34,Q4 2019,02/03/2020,--,12.53,15.35,2.82,10.90 / 13.80,0.63,0.77,15.35,2019Q4,2019,49.18
36,Q3 2019,10/28/19,--,12.42,10.12,-2.3,10.83 / 15.07,0.63,0.51,10.12,2019Q3,2019,49.18
38,Q2 2019,7/25/19,--,11.3,14.21,2.91,10.28 / 13.38,0.56,0.71,14.21,2019Q2,2019,49.18
40,Q1 2019,4/29/19,--,10.61,9.5,-1.11,9.32 / 11.80,0.52,0.48,9.50,2019Q1,2019,49.18
42,Q4 2018,02/04/2019,--,10.82,12.77,1.95,9.28 / 12.13,10.9,0.64,12.77,2018Q4,2018,43.70
44,Q3 2018,10/25/18,--,10.42,13.06,2.64,9.20 / 11.90,10.29,0.65,13.06,2018Q3,2018,43.70
46,Q2 2018,7/23/18,--,9.59,4.54,-5.05,8.71 / 11.12,9.61,0.23,4.54,2018Q2,2018,43.70
48,Q1 2018,4/23/18,--,9.28,13.33,4.05,8.24 / 10.07,9.33,0.67,13.33,2018Q1,2018,43.70
50,Q4 2017,02/01/2018,--,9.98,9.7,-0.28,9.00 / 10.92,9.97,-0.22,-4.35,2017Q4,2017,17.96
52,Q3 2017,10/26/17,--,8.33,9.57,1.24,7.49 / 9.07,8.36,0.48,9.57,2017Q3,2017,17.96
54,Q2 2017,7/24/17,--,4.49,5.01,0.52,4.02 / 5.16,8.25,0.25,5.01,2017Q2,2017,17.96
56,Q1 2017,4/27/17,--,7.39,7.73,0.34,6.62 / 7.92,7.41,0.39,7.73,2017Q1,2017,17.96
58,Q4 2016,1/26/17,--,9.65,9.36,-0.29,9.01 / 10.67,9.65,0.38,7.56,2016Q4,2016,27.83
60,Q3 2016,10/27/16,--,8.63,9.06,0.43,8.08 / 9.04,8.65,0.36,7.25,2016Q3,2016,27.83
62,Q2 2016,7/28/16,--,8.04,8.42,0.38,7.60 / 8.48,8.01,0.35,7.00,2016Q2,2016,27.83
64,Q1 2016,4/21/16,--,7.97,7.5,-0.47,7.35 / 8.44,7.91,0.3,6.02,2016Q1,2016,27.83
66,Q4 2015,02/01/2016,--,8.11,8.67,0.56,7.32 / 8.59,8.11,0.35,7.06,2015Q4,2015,22.82
68,Q3 2015,10/22/15,--,7.21,7.35,0.14,6.13 / 8.09,7.2,0.29,5.73,2015Q3,2015,22.82
70,Q2 2015,7/16/15,--,6.7,6.99,0.29,6.05 / 7.29,6.71,0.25,4.93,2015Q2,2015,22.82
72,Q1 2015,4/23/15,--,6.6,6.47,-0.13,5.98 / 7.09,6.45,0.26,5.10,2015Q1,2015,22.82
74,Q4 2014,1/29/15,--,7.11,6.76,-0.35,6.39 / 7.97,7.02,0.27,6.79,2014Q4,2014,20.57
76,Q3 2014,10/16/14,--,6.53,6.25,-0.28,6.12 / 7.04,6.51,0.21,3.98,2014Q3,2014,20.57
78,Q2 2014,7/17/14,--,6.24,5.98,-0.26,5.73 / 6.64,6.23,0.25,4.88,2014Q2,2014,20.57
80,Q1 2014,4/16/14,--,6.41,6.16,-0.25,5.83 / 6.96,6.4,0.52,4.92,2014Q1,2014,20.57
82,Q4 2013,1/30/14,--,6.1,6.01,-0.09,5.03 / 6.84,--,0.57,4.95,2013Q4,2013,4.95

In [52]:
googlEPS['Reported EPS ($)'] = pd.to_numeric(googlEPS['Reported EPS ($)'], errors='coerce')
window_size = 4
rolling_sum = googlEPS['Reported EPS ($)'].rolling(window=window_size).sum()
rolling_sum_shifted = rolling_sum.shift(-window_size + 1)
googlEPS['googl4Qsum'] = rolling_sum_shifted
googlEPS

/var/folders/y_/xzdtpw157lxfxq97fg75kg4m0000gn/T/ipykernel_29991/4097238381.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  googlEPS['Reported EPS ($)'] = pd.to_numeric(googlEPS['Reported EPS ($)'], errors='coerce')
/var/folders/y_/xzdtpw157lxfxq97fg75kg4m0000gn/T/ipykernel_29991/4097238381.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  googlEPS['googl4Qsum'] = rolling_sum_shifted

,Quarter,Report date,Report time,Consensus est. EPS ($),Adjusted actualsÂ EPS ($),EPS difference,Est. low/high range ($),StarMine from RefinitivÂ SmartEstimate($),GAAP EPS ($),Reported EPS ($),FSQuarter,year,googlyeps,googl4Qsum
0,Q1 2024,4/23/24,--,1.5,--,--,1.36 / 1.65,--,--,NaN,2024Q1,2024,0.00,NaN
2,Q4 2023,1/31/24,--,1.59,--,--,1.43 / 1.75,1.58,--,NaN,2023Q4,2023,4.16,NaN
4,Q3 2023,10/24/23,--,1.45,1.55,0.1,1.27 / 1.55,1.47,1.55,1.55,2023Q3,2023,4.16,5.21
6,Q2 2023,7/25/23,--,1.34,1.44,0.1,1.06 / 1.50,1.35,1.44,1.44,2023Q2,2023,4.16,4.72
8,Q1 2023,4/25/23,--,1.07,1.17,0.1,0.87 / 1.21,1.08,1.17,1.17,2023Q1,2023,4.16,4.49
10,Q4 2022,02/02/2023,--,1.18,1.05,-0.13,0.95 / 1.34,1.16,1.05,1.05,2022Q4,2022,4.55,4.55
12,Q3 2022,10/25/22,--,1.25,1.06,-0.19,1.06 / 1.50,1.23,1.06,1.06,2022Q3,2022,4.55,5.03
14,Q2 2022,7/26/22,--,1.28,1.21,-0.07,1.12 / 1.54,1.25,1.21,1.21,2022Q2,2022,4.55,5.37
16,Q1 2022,4/26/22,--,1.3,1.23,-0.07,22.94 / 31.66,1.31,1.23,1.23,2022Q1,2022,4.55,5.52
18,Q4 2021,02/01/2022,--,1.37,1.53,0.16,23.03 / 31.00,1.39,1.53,1.53,2021Q4,2021,5.60,5.60
20,Q3 2021,10/26/21,--,1.17,1.4,0.23,19.50 / 30.67,1.23,1.4,1.40,2021Q3,2021,5.60,5.19
22,Q2 2021,7/27/21,--,0.97,1.36,0.39,12.71 / 24.43,0.99,1.36,1.36,2021Q2,2021,5.60,4.61
24,Q1 2021,4/27/21,--,0.79,1.31,0.52,11.47 / 19.44,0.79,1.31,1.31,2021Q1,2021,5.60,3.76
26,Q4 2020,02/02/2021,--,0.8,1.12,0.32,13.83 / 18.82,0.8,1.12,1.12,2020Q4,2020,12.32,12.32
28,Q3 2020,10/29/20,--,0.56,0.82,0.26,8.95 / 14.67,--,0.82,0.82,2020Q3,2020,12.32,26.55
30,Q2 2020,7/30/20,--,0.41,0.51,0.1,5.73 / 10.24,0.41,0.51,0.51,2020Q2,2020,12.32,35.85
32,Q1 2020,4/28/20,--,10.33,9.87,-0.46,8.51 / 14.46,0.51,0.49,9.87,2020Q1,2020,12.32,49.55
34,Q4 2019,02/03/2020,--,12.53,15.35,2.82,10.90 / 13.80,0.63,0.77,15.35,2019Q4,2019,49.18,49.18
36,Q3 2019,10/28/19,--,12.42,10.12,-2.3,10.83 / 15.07,0.63,0.51,10.12,2019Q3,2019,49.18,46.60
38,Q2 2019,7/25/19,--,11.3,14.21,2.91,10.28 / 13.38,0.56,0.71,14.21,2019Q2,2019,49.18,49.54
40,Q1 2019,4/29/19,--,10.61,9.5,-1.11,9.32 / 11.80,0.52,0.48,9.50,2019Q1,2019,49.18,39.87
42,Q4 2018,02/04/2019,--,10.82,12.77,1.95,9.28 / 12.13,10.9,0.64,12.77,2018Q4,2018,43.70,43.70
44,Q3 2018,10/25/18,--,10.42,13.06,2.64,9.20 / 11.90,10.29,0.65,13.06,2018Q3,2018,43.70,26.58
46,Q2 2018,7/23/18,--,9.59,4.54,-5.05,8.71 / 11.12,9.61,0.23,4.54,2018Q2,2018,43.70,23.09
48,Q1 2018,4/23/18,--,9.28,13.33,4.05,8.24 / 10.07,9.33,0.67,13.33,2018Q1,2018,43.70,23.56
50,Q4 2017,02/01/2018,--,9.98,9.7,-0.28,9.00 / 10.92,9.97,-0.22,-4.35,2017Q4,2017,17.96,17.96
52,Q3 2017,10/26/17,--,8.33,9.57,1.24,7.49 / 9.07,8.36,0.48,9.57,2017Q3,2017,17.96,29.87
54,Q2 2017,7/24/17,--,4.49,5.01,0.52,4.02 / 5.16,8.25,0.25,5.01,2017Q2,2017,17.96,27.55
56,Q1 2017,4/27/17,--,7.39,7.73,0.34,6.62 / 7.92,7.41,0.39,7.73,2017Q1,2017,17.96,29.54
58,Q4 2016,1/26/17,--,9.65,9.36,-0.29,9.01 / 10.67,9.65,0.38,7.56,2016Q4,2016,27.83,27.83
60,Q3 2016,10/27/16,--,8.63,9.06,0.43,8.08 / 9.04,8.65,0.36,7.25,2016Q3,2016,27.83,27.33
62,Q2 2016,7/28/16,--,8.04,8.42,0.38,7.60 / 8.48,8.01,0.35,7.00,2016Q2,2016,27.83,25.81
64,Q1 2016,4/21/16,--,7.97,7.5,-0.47,7.35 / 8.44,7.91,0.3,6.02,2016Q1,2016,27.83,23.74
66,Q4 2015,02/01/2016,--,8.11,8.67,0.56,7.32 / 8.59,8.11,0.35,7.06,2015Q4,2015,22.82,22.82
68,Q3 2015,10/22/15,--,7.21,7.35,0.14,6.13 / 8.09,7.2,0.29,5.73,2015Q3,2015,22.82,22.55
70,Q2 2015,7/16/15,--,6.7,6.99,0.29,6.05 / 7.29,6.71,0.25,4.93,2015Q2,2015,22.82,20.80
72,Q1 2015,4/23/15,--,6.6,6.47,-0.13,5.98 / 7.09,6.45,0.26,5.10,2015Q1,2015,22.82,20.75
74,Q4 2014,1/29/15,--,7.11,6.76,-0.35,6.39 / 7.97,7.02,0.27,6.79,2014Q4,2014,20.57,20.57
76,Q3 2014,10/16/14,--,6.53,6.25,-0.28,6.12 / 7.04,6.51,0.21,3.98,2014Q3,2014,20.57,18.73
78,Q2 2014,7/17/14,--,6.24,5.98,-0.26,5.73 / 6.64,6.23,0.25,4.88,2014Q2,2014,20.57,NaN
80,Q1 2014,4/16/14,--,6.41,6.16,-0.25,5.83 / 6.96,6.4,0.52,4.92,2014Q1,2014,20.57,NaN
82,Q4 2013,1/30/14,--,6.1,6.01,-0.09,5.03 / 6.84,--,0.57,4.95,2013Q4,2013,4.95,NaN

In [53]:
merged_googlEPS = pd.merge(close, googlEPS, on='FSQuarter', how='inner')
merged_googlEPS

,Date,AMZN,BAC,GOOGL,MCD,VZ,Cur Quarter,FSQuarter,year_x,amzn4Qsum,...,Consensus est. EPS ($),Adjusted actualsÂ EPS ($),EPS difference,Est. low/high range ($),StarMine from RefinitivÂ SmartEstimate($),GAAP EPS ($),Reported EPS ($),year_y,googlyeps,googl4Qsum
0,2014-01-02,19.898500,16.100000,27.855856,96.410004,49.000000,2014Q1,2013Q4,2014,NaN,...,6.1,6.01,-0.09,5.03 / 6.84,--,0.57,4.95,2013,4.95,NaN
1,2014-01-03,19.822001,16.410000,27.652653,96.540001,48.419998,2014Q1,2013Q4,2014,NaN,...,6.1,6.01,-0.09,5.03 / 6.84,--,0.57,4.95,2013,4.95,NaN
2,2014-01-06,19.681499,16.660000,27.960960,95.849998,48.689999,2014Q1,2013Q4,2014,NaN,...,6.1,6.01,-0.09,5.03 / 6.84,--,0.57,4.95,2013,4.95,NaN
3,2014-01-07,19.901501,16.500000,28.500000,96.379997,49.299999,2014Q1,2013Q4,2014,NaN,...,6.1,6.01,-0.09,5.03 / 6.84,--,0.57,4.95,2013,4.95,NaN
4,2014-01-08,20.096001,16.580000,28.559309,95.410004,48.500000,2014Q1,2013Q4,2014,NaN,...,6.1,6.01,-0.09,5.03 / 6.84,--,0.57,4.95,2013,4.95,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2486,2023-11-16,142.830002,29.540001,136.929993,276.119995,36.180000,2023Q4,2023Q3,2023,1.93,...,1.45,1.55,0.1,1.27 / 1.55,1.47,1.55,1.55,2023,4.16,5.21
2487,2023-11-17,145.179993,29.980000,135.309998,275.750000,36.230000,2023Q4,2023Q3,2023,1.93,...,1.45,1.55,0.1,1.27 / 1.55,1.47,1.55,1.55,2023,4.16,5.21
2488,2023-11-20,146.130005,30.010000,136.250000,279.029999,36.730000,2023Q4,2023Q3,2023,1.93,...,1.45,1.55,0.1,1.27 / 1.55,1.47,1.55,1.55,2023,4.16,5.21
2489,2023-11-21,143.899994,29.660000,136.970001,280.470001,37.250000,2023Q4,2023Q3,2023,1.93,...,1.45,1.55,0.1,1.27 / 1.55,1.47,1.55,1.55,2023,4.16,5.21
2490,2023-11-22,146.710007,29.629999,138.490005,281.929993,37.349998,2023Q4,2023Q3,2023,1.93,...,1.45,1.55,0.1,1.27 / 1.55,1.47,1.55,1.55,2023,4.16,5.21

In [54]:
close["googl4Qsum"] = merged_googlEPS["googl4Qsum"]
close["googlPEratio"] = close["GOOGL"] / close["googl4Qsum"]
close['googlyeps'] = merged_googlEPS['googlyeps']
close

,Date,AMZN,BAC,GOOGL,MCD,VZ,Cur Quarter,FSQuarter,year,amzn4Qsum,amznPEratio,amznyeps,bac4Qsum,bacPEratio,bacyeps,googl4Qsum,googlPEratio,googlyeps
0,2014-01-02,19.898500,16.100000,27.855856,96.410004,49.000000,2014Q1,2013Q4,2014,NaN,NaN,0.51,NaN,NaN,0.29,NaN,NaN,4.95
1,2014-01-03,19.822001,16.410000,27.652653,96.540001,48.419998,2014Q1,2013Q4,2014,NaN,NaN,0.51,NaN,NaN,0.29,NaN,NaN,4.95
2,2014-01-06,19.681499,16.660000,27.960960,95.849998,48.689999,2014Q1,2013Q4,2014,NaN,NaN,0.51,NaN,NaN,0.29,NaN,NaN,4.95
3,2014-01-07,19.901501,16.500000,28.500000,96.379997,49.299999,2014Q1,2013Q4,2014,NaN,NaN,0.51,NaN,NaN,0.29,NaN,NaN,4.95
4,2014-01-08,20.096001,16.580000,28.559309,95.410004,48.500000,2014Q1,2013Q4,2014,NaN,NaN,0.51,NaN,NaN,0.29,NaN,NaN,4.95
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2486,2023-11-16,142.830002,29.540001,136.929993,276.119995,36.180000,2023Q4,2023Q3,2023,1.93,74.005182,1.90,3.57,8.274510,2.72,5.21,26.282148,4.16
2487,2023-11-17,145.179993,29.980000,135.309998,275.750000,36.230000,2023Q4,2023Q3,2023,1.93,75.222794,1.90,3.57,8.397759,2.72,5.21,25.971209,4.16
2488,2023-11-20,146.130005,30.010000,136.250000,279.029999,36.730000,2023Q4,2023Q3,2023,1.93,75.715028,1.90,3.57,8.406163,2.72,5.21,26.151631,4.16
2489,2023-11-21,143.899994,29.660000,136.970001,280.470001,37.250000,2023Q4,2023Q3,2023,1.93,74.559582,1.90,3.57,8.308123,2.72,5.21,26.289827,4.16
2490,2023-11-22,146.710007,29.629999,138.490005,281.929993,37.349998,2023Q4,2023Q3,2023,1.93,76.015548,1.90,3.57,8.299720,2.72,5.21,26.581575,4.16

In [55]:
#import Mcdonald's EPS report
mcdEPS = pd.read_csv("mcd.csv")
print(mcdEPS.columns)

Index(['Quarter', 'Report date', 'Report time', 'Consensus est. EPS ($)',
       'Adjusted actualsÂ EPS ($)', 'EPS difference', 'Est. low/high range ($)',
       'StarMine from RefinitivÂ SmartEstimate($)Â ', 'GAAP EPS ($)',
       'Reported EPS ($)'],
      dtype='object')

In [56]:
quarter_info = mcdEPS['Quarter'].str.extract(r'Q(\d) (\d{4})')
mcdEPS['FSQuarter'] = quarter_info[1] + 'Q' + quarter_info[0]
mcdEPS

,Quarter,Report date,Report time,Consensus est. EPS ($),Adjusted actualsÂ EPS ($),EPS difference,Est. low/high range ($),StarMine from RefinitivÂ SmartEstimate($),GAAP EPS ($),Reported EPS ($),FSQuarter
0,Q1 2024,4/23/24,--,2.77,--,--,2.65 / 2.86,--,--,--,2024Q1
1,NaN,NaN,NaN,(24 Analysts),NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Q4 2023,1/29/24,--,2.81,--,--,2.70 / 3.05,2.81,--,--,2023Q4
3,NaN,NaN,NaN,(29 Analysts),NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Q3 2023,10/30/23,--,3,3.19,0.19,2.89 / 3.15,3.01,3.17,3.17,2023Q3
...,...,...,...,...,...,...,...,...,...,...,...
79,NaN,NaN,NaN,(25 Analysts),NaN,NaN,NaN,NaN,NaN,NaN,NaN
80,Q1 2014,4/22/14,--,1.24,1.21,-0.03,1.20 / 1.29,1.24,1.21,1.21,2014Q1
81,NaN,NaN,NaN,(24 Analysts),NaN,NaN,NaN,NaN,NaN,NaN,NaN
82,Q4 2013,1/23/14,--,1.39,1.4,0.01,1.37 / 1.42,1.39,1.4,1.4,2013Q4
83,NaN,NaN,NaN,(28 Analysts),NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [57]:
mcdEPS['FSQuarter'] = pd.PeriodIndex(mcdEPS['FSQuarter'], freq='Q-DEC')

In [58]:
mcdEPS = mcdEPS.dropna()
mcdEPS['year'] = mcdEPS['Quarter'].str.extract('(\d{4})').astype(int)
mcdEPS['Reported EPS ($)'] = pd.to_numeric(mcdEPS['Reported EPS ($)'], errors='coerce')
mcdEPS['mcdyeps'] = mcdEPS.groupby('year')['Reported EPS ($)'].transform('sum')
mcdEPS

/var/folders/y_/xzdtpw157lxfxq97fg75kg4m0000gn/T/ipykernel_29991/1129465766.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mcdEPS['year'] = mcdEPS['Quarter'].str.extract('(\d{4})').astype(int)
/var/folders/y_/xzdtpw157lxfxq97fg75kg4m0000gn/T/ipykernel_29991/1129465766.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mcdEPS['Reported EPS ($)'] = pd.to_numeric(mcdEPS['Reported EPS ($)'], errors='coerce')
/var/folders/y_/xzdtpw157lxfxq97fg75kg4m0000gn/T/ipykernel_29991/1129465766.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mcdEPS['mcdyeps'] = mcdEPS.groupby('year')['Reported EPS ($)'].transform('sum')

,Quarter,Report date,Report time,Consensus est. EPS ($),Adjusted actualsÂ EPS ($),EPS difference,Est. low/high range ($),StarMine from RefinitivÂ SmartEstimate($),GAAP EPS ($),Reported EPS ($),FSQuarter,year,mcdyeps
0,Q1 2024,4/23/24,--,2.77,--,--,2.65 / 2.86,--,--,NaN,2024Q1,2024,0.00
2,Q4 2023,1/29/24,--,2.81,--,--,2.70 / 3.05,2.81,--,NaN,2023Q4,2023,8.77
4,Q3 2023,10/30/23,--,3,3.19,0.19,2.89 / 3.15,3.01,3.17,3.17,2023Q3,2023,8.77
6,Q2 2023,7/27/23,--,2.79,3.17,0.38,2.61 / 2.98,2.78,3.15,3.15,2023Q2,2023,8.77
8,Q1 2023,4/25/23,--,2.33,2.63,0.3,2.01 / 2.46,2.35,2.45,2.45,2023Q1,2023,8.77
10,Q4 2022,1/31/23,--,2.46,2.59,0.13,2.31 / 2.60,2.46,2.59,2.59,2022Q4,2022,8.35
12,Q3 2022,10/27/22,--,2.58,2.68,0.1,2.47 / 2.64,2.56,2.68,2.68,2022Q3,2022,8.35
14,Q2 2022,7/26/22,--,2.47,2.55,0.08,2.27 / 2.67,2.47,1.6,1.60,2022Q2,2022,8.35
16,Q1 2022,4/28/22,--,2.17,2.28,0.11,1.89 / 2.33,2.17,1.48,1.48,2022Q1,2022,8.35
18,Q4 2021,1/27/22,--,2.34,2.23,-0.11,2.18 / 2.58,2.33,2.18,2.18,2021Q4,2021,10.04
20,Q3 2021,10/27/21,--,2.46,2.76,0.3,2.30 / 2.60,2.47,2.86,2.86,2021Q3,2021,10.04
22,Q2 2021,7/28/21,--,2.11,2.37,0.26,1.89 / 2.26,2.12,2.95,2.95,2021Q2,2021,10.04
24,Q1 2021,4/29/21,--,1.81,1.92,0.11,1.63 / 1.97,1.84,2.05,2.05,2021Q1,2021,10.04
26,Q4 2020,1/28/21,--,1.78,1.7,-0.08,1.41 / 1.96,1.78,1.84,1.84,2020Q4,2020,6.31
28,Q3 2020,11/09/2020,--,1.9,2.22,0.32,1.76 / 2.10,--,2.35,2.35,2020Q3,2020,6.31
30,Q2 2020,7/28/20,--,0.75,0.66,-0.09,0.51 / 1.27,0.74,0.65,0.65,2020Q2,2020,6.31
32,Q1 2020,4/30/20,--,1.57,1.47,-0.1,1.03 / 1.79,1.55,1.47,1.47,2020Q1,2020,6.31
34,Q4 2019,1/29/20,--,1.96,1.97,0.01,1.91 / 2.01,1.96,2.08,2.08,2019Q4,2019,7.88
36,Q3 2019,10/22/19,--,2.21,2.11,-0.1,2.12 / 2.29,2.22,2.11,2.11,2019Q3,2019,7.88
38,Q2 2019,7/26/19,--,2.05,2.05,0,1.99 / 2.15,2.05,1.97,1.97,2019Q2,2019,7.88
40,Q1 2019,4/30/19,--,1.75,1.72,-0.03,1.67 / 1.90,1.76,1.72,1.72,2019Q1,2019,7.88
42,Q4 2018,1/30/19,--,1.89,1.97,0.08,1.81 / 1.95,1.89,1.82,1.82,2018Q4,2018,7.54
44,Q3 2018,10/23/18,--,1.99,2.1,0.11,1.93 / 2.11,2,2.1,2.10,2018Q3,2018,7.54
46,Q2 2018,7/26/18,--,1.92,1.99,0.07,1.84 / 2.00,1.93,1.9,1.90,2018Q2,2018,7.54
48,Q1 2018,4/30/18,--,1.67,1.79,0.12,1.58 / 1.76,1.67,1.72,1.72,2018Q1,2018,7.54
50,Q4 2017,1/30/18,--,1.59,1.71,0.12,1.52 / 1.64,1.6,0.87,0.87,2017Q4,2017,6.36
52,Q3 2017,10/24/17,--,1.77,1.76,-0.01,1.63 / 2.01,1.79,2.32,2.32,2017Q3,2017,6.36
54,Q2 2017,7/25/17,--,1.62,1.7,0.08,1.51 / 1.72,1.61,1.7,1.70,2017Q2,2017,6.36
56,Q1 2017,4/25/17,--,1.33,1.47,0.14,1.25 / 1.39,1.34,1.47,1.47,2017Q1,2017,6.36
58,Q4 2016,1/23/17,--,1.41,1.43,0.02,1.36 / 1.47,1.42,1.44,1.44,2016Q4,2016,5.42
60,Q3 2016,10/21/16,--,1.48,1.62,0.14,1.46 / 1.54,1.49,1.5,1.50,2016Q3,2016,5.42
62,Q2 2016,7/26/16,--,1.38,1.45,0.07,1.21 / 1.45,1.37,1.25,1.25,2016Q2,2016,5.42
64,Q1 2016,4/22/16,--,1.16,1.23,0.07,1.08 / 1.23,1.16,1.25,1.23,2016Q1,2016,5.42
66,Q4 2015,1/25/16,--,1.23,1.31,0.08,1.14 / 1.36,1.24,1.31,1.31,2015Q4,2015,4.81
68,Q3 2015,10/22/15,--,1.28,1.4,0.13,1.19 / 1.35,1.27,1.4,1.40,2015Q3,2015,4.81
70,Q2 2015,7/23/15,--,1.24,1.26,0.02,1.18 / 1.30,1.23,1.26,1.26,2015Q2,2015,4.81
72,Q1 2015,4/22/15,--,1.06,1.01,-0.05,1.01 / 1.11,1.05,0.84,0.84,2015Q1,2015,4.81
74,Q4 2014,1/23/15,--,1.22,1.13,-0.09,1.10 / 1.28,1.21,1.13,1.13,2014Q4,2014,4.83
76,Q3 2014,10/21/14,--,1.37,1.09,-0.28,1.31 / 1.51,1.37,1.09,1.09,2014Q3,2014,4.83
78,Q2 2014,7/22/14,--,1.44,1.4,-0.04,1.41 / 1.48,1.43,1.4,1.40,2014Q2,2014,4.83
80,Q1 2014,4/22/14,--,1.24,1.21,-0.03,1.20 / 1.29,1.24,1.21,1.21,2014Q1,2014,4.83
82,Q4 2013,1/23/14,--,1.39,1.4,0.01,1.37 / 1.42,1.39,1.4,1.40,2013Q4,2013,1.40

In [59]:
mcdEPS['Reported EPS ($)'] = pd.to_numeric(mcdEPS['Reported EPS ($)'], errors='coerce')
window_size = 4
rolling_sum = mcdEPS['Reported EPS ($)'].rolling(window=window_size).sum()
rolling_sum_shifted = rolling_sum.shift(-window_size + 1)
mcdEPS['mcd4Qsum'] = rolling_sum_shifted
mcdEPS

/var/folders/y_/xzdtpw157lxfxq97fg75kg4m0000gn/T/ipykernel_29991/734810753.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mcdEPS['Reported EPS ($)'] = pd.to_numeric(mcdEPS['Reported EPS ($)'], errors='coerce')
/var/folders/y_/xzdtpw157lxfxq97fg75kg4m0000gn/T/ipykernel_29991/734810753.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mcdEPS['mcd4Qsum'] = rolling_sum_shifted

,Quarter,Report date,Report time,Consensus est. EPS ($),Adjusted actualsÂ EPS ($),EPS difference,Est. low/high range ($),StarMine from RefinitivÂ SmartEstimate($),GAAP EPS ($),Reported EPS ($),FSQuarter,year,mcdyeps,mcd4Qsum
0,Q1 2024,4/23/24,--,2.77,--,--,2.65 / 2.86,--,--,NaN,2024Q1,2024,0.00,NaN
2,Q4 2023,1/29/24,--,2.81,--,--,2.70 / 3.05,2.81,--,NaN,2023Q4,2023,8.77,NaN
4,Q3 2023,10/30/23,--,3,3.19,0.19,2.89 / 3.15,3.01,3.17,3.17,2023Q3,2023,8.77,11.36
6,Q2 2023,7/27/23,--,2.79,3.17,0.38,2.61 / 2.98,2.78,3.15,3.15,2023Q2,2023,8.77,10.87
8,Q1 2023,4/25/23,--,2.33,2.63,0.3,2.01 / 2.46,2.35,2.45,2.45,2023Q1,2023,8.77,9.32
10,Q4 2022,1/31/23,--,2.46,2.59,0.13,2.31 / 2.60,2.46,2.59,2.59,2022Q4,2022,8.35,8.35
12,Q3 2022,10/27/22,--,2.58,2.68,0.1,2.47 / 2.64,2.56,2.68,2.68,2022Q3,2022,8.35,7.94
14,Q2 2022,7/26/22,--,2.47,2.55,0.08,2.27 / 2.67,2.47,1.6,1.60,2022Q2,2022,8.35,8.12
16,Q1 2022,4/28/22,--,2.17,2.28,0.11,1.89 / 2.33,2.17,1.48,1.48,2022Q1,2022,8.35,9.47
18,Q4 2021,1/27/22,--,2.34,2.23,-0.11,2.18 / 2.58,2.33,2.18,2.18,2021Q4,2021,10.04,10.04
20,Q3 2021,10/27/21,--,2.46,2.76,0.3,2.30 / 2.60,2.47,2.86,2.86,2021Q3,2021,10.04,9.70
22,Q2 2021,7/28/21,--,2.11,2.37,0.26,1.89 / 2.26,2.12,2.95,2.95,2021Q2,2021,10.04,9.19
24,Q1 2021,4/29/21,--,1.81,1.92,0.11,1.63 / 1.97,1.84,2.05,2.05,2021Q1,2021,10.04,6.89
26,Q4 2020,1/28/21,--,1.78,1.7,-0.08,1.41 / 1.96,1.78,1.84,1.84,2020Q4,2020,6.31,6.31
28,Q3 2020,11/09/2020,--,1.9,2.22,0.32,1.76 / 2.10,--,2.35,2.35,2020Q3,2020,6.31,6.55
30,Q2 2020,7/28/20,--,0.75,0.66,-0.09,0.51 / 1.27,0.74,0.65,0.65,2020Q2,2020,6.31,6.31
32,Q1 2020,4/30/20,--,1.57,1.47,-0.1,1.03 / 1.79,1.55,1.47,1.47,2020Q1,2020,6.31,7.63
34,Q4 2019,1/29/20,--,1.96,1.97,0.01,1.91 / 2.01,1.96,2.08,2.08,2019Q4,2019,7.88,7.88
36,Q3 2019,10/22/19,--,2.21,2.11,-0.1,2.12 / 2.29,2.22,2.11,2.11,2019Q3,2019,7.88,7.62
38,Q2 2019,7/26/19,--,2.05,2.05,0,1.99 / 2.15,2.05,1.97,1.97,2019Q2,2019,7.88,7.61
40,Q1 2019,4/30/19,--,1.75,1.72,-0.03,1.67 / 1.90,1.76,1.72,1.72,2019Q1,2019,7.88,7.54
42,Q4 2018,1/30/19,--,1.89,1.97,0.08,1.81 / 1.95,1.89,1.82,1.82,2018Q4,2018,7.54,7.54
44,Q3 2018,10/23/18,--,1.99,2.1,0.11,1.93 / 2.11,2,2.1,2.10,2018Q3,2018,7.54,6.59
46,Q2 2018,7/26/18,--,1.92,1.99,0.07,1.84 / 2.00,1.93,1.9,1.90,2018Q2,2018,7.54,6.81
48,Q1 2018,4/30/18,--,1.67,1.79,0.12,1.58 / 1.76,1.67,1.72,1.72,2018Q1,2018,7.54,6.61
50,Q4 2017,1/30/18,--,1.59,1.71,0.12,1.52 / 1.64,1.6,0.87,0.87,2017Q4,2017,6.36,6.36
52,Q3 2017,10/24/17,--,1.77,1.76,-0.01,1.63 / 2.01,1.79,2.32,2.32,2017Q3,2017,6.36,6.93
54,Q2 2017,7/25/17,--,1.62,1.7,0.08,1.51 / 1.72,1.61,1.7,1.70,2017Q2,2017,6.36,6.11
56,Q1 2017,4/25/17,--,1.33,1.47,0.14,1.25 / 1.39,1.34,1.47,1.47,2017Q1,2017,6.36,5.66
58,Q4 2016,1/23/17,--,1.41,1.43,0.02,1.36 / 1.47,1.42,1.44,1.44,2016Q4,2016,5.42,5.42
60,Q3 2016,10/21/16,--,1.48,1.62,0.14,1.46 / 1.54,1.49,1.5,1.50,2016Q3,2016,5.42,5.29
62,Q2 2016,7/26/16,--,1.38,1.45,0.07,1.21 / 1.45,1.37,1.25,1.25,2016Q2,2016,5.42,5.19
64,Q1 2016,4/22/16,--,1.16,1.23,0.07,1.08 / 1.23,1.16,1.25,1.23,2016Q1,2016,5.42,5.20
66,Q4 2015,1/25/16,--,1.23,1.31,0.08,1.14 / 1.36,1.24,1.31,1.31,2015Q4,2015,4.81,4.81
68,Q3 2015,10/22/15,--,1.28,1.4,0.13,1.19 / 1.35,1.27,1.4,1.40,2015Q3,2015,4.81,4.63
70,Q2 2015,7/23/15,--,1.24,1.26,0.02,1.18 / 1.30,1.23,1.26,1.26,2015Q2,2015,4.81,4.32
72,Q1 2015,4/22/15,--,1.06,1.01,-0.05,1.01 / 1.11,1.05,0.84,0.84,2015Q1,2015,4.81,4.46
74,Q4 2014,1/23/15,--,1.22,1.13,-0.09,1.10 / 1.28,1.21,1.13,1.13,2014Q4,2014,4.83,4.83
76,Q3 2014,10/21/14,--,1.37,1.09,-0.28,1.31 / 1.51,1.37,1.09,1.09,2014Q3,2014,4.83,5.10
78,Q2 2014,7/22/14,--,1.44,1.4,-0.04,1.41 / 1.48,1.43,1.4,1.40,2014Q2,2014,4.83,NaN
80,Q1 2014,4/22/14,--,1.24,1.21,-0.03,1.20 / 1.29,1.24,1.21,1.21,2014Q1,2014,4.83,NaN
82,Q4 2013,1/23/14,--,1.39,1.4,0.01,1.37 / 1.42,1.39,1.4,1.40,2013Q4,2013,1.40,NaN

In [60]:
merged_mcdEPS = pd.merge(close, mcdEPS, on='FSQuarter', how='inner')
merged_mcdEPS

,Date,AMZN,BAC,GOOGL,MCD,VZ,Cur Quarter,FSQuarter,year_x,amzn4Qsum,...,Consensus est. EPS ($),Adjusted actualsÂ EPS ($),EPS difference,Est. low/high range ($),StarMine from RefinitivÂ SmartEstimate($),GAAP EPS ($),Reported EPS ($),year_y,mcdyeps,mcd4Qsum
0,2014-01-02,19.898500,16.100000,27.855856,96.410004,49.000000,2014Q1,2013Q4,2014,NaN,...,1.39,1.4,0.01,1.37 / 1.42,1.39,1.4,1.40,2013,1.40,NaN
1,2014-01-03,19.822001,16.410000,27.652653,96.540001,48.419998,2014Q1,2013Q4,2014,NaN,...,1.39,1.4,0.01,1.37 / 1.42,1.39,1.4,1.40,2013,1.40,NaN
2,2014-01-06,19.681499,16.660000,27.960960,95.849998,48.689999,2014Q1,2013Q4,2014,NaN,...,1.39,1.4,0.01,1.37 / 1.42,1.39,1.4,1.40,2013,1.40,NaN
3,2014-01-07,19.901501,16.500000,28.500000,96.379997,49.299999,2014Q1,2013Q4,2014,NaN,...,1.39,1.4,0.01,1.37 / 1.42,1.39,1.4,1.40,2013,1.40,NaN
4,2014-01-08,20.096001,16.580000,28.559309,95.410004,48.500000,2014Q1,2013Q4,2014,NaN,...,1.39,1.4,0.01,1.37 / 1.42,1.39,1.4,1.40,2013,1.40,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2486,2023-11-16,142.830002,29.540001,136.929993,276.119995,36.180000,2023Q4,2023Q3,2023,1.93,...,3,3.19,0.19,2.89 / 3.15,3.01,3.17,3.17,2023,8.77,11.36
2487,2023-11-17,145.179993,29.980000,135.309998,275.750000,36.230000,2023Q4,2023Q3,2023,1.93,...,3,3.19,0.19,2.89 / 3.15,3.01,3.17,3.17,2023,8.77,11.36
2488,2023-11-20,146.130005,30.010000,136.250000,279.029999,36.730000,2023Q4,2023Q3,2023,1.93,...,3,3.19,0.19,2.89 / 3.15,3.01,3.17,3.17,2023,8.77,11.36
2489,2023-11-21,143.899994,29.660000,136.970001,280.470001,37.250000,2023Q4,2023Q3,2023,1.93,...,3,3.19,0.19,2.89 / 3.15,3.01,3.17,3.17,2023,8.77,11.36
2490,2023-11-22,146.710007,29.629999,138.490005,281.929993,37.349998,2023Q4,2023Q3,2023,1.93,...,3,3.19,0.19,2.89 / 3.15,3.01,3.17,3.17,2023,8.77,11.36

In [61]:
close["mcd4Qsum"] = merged_mcdEPS['mcd4Qsum']
close["mcdPEratio"] = close["MCD"] / close["mcd4Qsum"]
close['mcdyeps'] = merged_mcdEPS['mcdyeps']
close.tail()

,Date,AMZN,BAC,GOOGL,MCD,VZ,Cur Quarter,FSQuarter,year,amzn4Qsum,...,amznyeps,bac4Qsum,bacPEratio,bacyeps,googl4Qsum,googlPEratio,googlyeps,mcd4Qsum,mcdPEratio,mcdyeps
2486,2023-11-16,142.830002,29.540001,136.929993,276.119995,36.180000,2023Q4,2023Q3,2023,1.93,...,1.9,3.57,8.274510,2.72,5.21,26.282148,4.16,11.36,24.306338,8.77
2487,2023-11-17,145.179993,29.980000,135.309998,275.750000,36.230000,2023Q4,2023Q3,2023,1.93,...,1.9,3.57,8.397759,2.72,5.21,25.971209,4.16,11.36,24.273768,8.77
2488,2023-11-20,146.130005,30.010000,136.250000,279.029999,36.730000,2023Q4,2023Q3,2023,1.93,...,1.9,3.57,8.406163,2.72,5.21,26.151631,4.16,11.36,24.562500,8.77
2489,2023-11-21,143.899994,29.660000,136.970001,280.470001,37.250000,2023Q4,2023Q3,2023,1.93,...,1.9,3.57,8.308123,2.72,5.21,26.289827,4.16,11.36,24.689261,8.77
2490,2023-11-22,146.710007,29.629999,138.490005,281.929993,37.349998,2023Q4,2023Q3,2023,1.93,...,1.9,3.57,8.299720,2.72,5.21,26.581575,4.16,11.36,24.817781,8.77

In [62]:
#Import Verizon Communications Inc EPS report
vzEPS = pd.read_csv("vz.csv")
print(vzEPS.columns)

Index(['Quarter', 'Report date', 'Report time', 'Consensus est. EPS ($)',
       'Adjusted actualsÂ EPS ($)', 'EPS difference', 'Est. low/high range ($)',
       'StarMine from RefinitivÂ SmartEstimate($)Â ', 'GAAP EPS ($)',
       'Reported EPS ($)'],
      dtype='object')

In [63]:
quarter_info = vzEPS['Quarter'].str.extract(r'Q(\d) (\d{4})')
vzEPS['Prev Quarter'] = quarter_info[1] + 'Q' + quarter_info[0]
vzEPS['FSQuarter'] = pd.PeriodIndex(vzEPS['Prev Quarter'], freq='Q-DEC')

In [64]:
vzEPS = vzEPS.dropna()
vzEPS['year'] = vzEPS['Quarter'].str.extract('(\d{4})').astype(int)
vzEPS['Reported EPS ($)'] = pd.to_numeric(vzEPS['Reported EPS ($)'], errors='coerce')
vzEPS['vzyeps'] = vzEPS.groupby('year')['Reported EPS ($)'].transform('sum')

In [65]:
vzEPS['Reported EPS ($)'] = pd.to_numeric(vzEPS['Reported EPS ($)'], errors='coerce')
window_size = 4
rolling_sum = vzEPS['Reported EPS ($)'].rolling(window=window_size).sum()
rolling_sum_shifted = rolling_sum.shift(-window_size + 1)
vzEPS['vz4Qsum'] = rolling_sum_shifted
vzEPS

,Quarter,Report date,Report time,Consensus est. EPS ($),Adjusted actualsÂ EPS ($),EPS difference,Est. low/high range ($),StarMine from RefinitivÂ SmartEstimate($),GAAP EPS ($),Reported EPS ($),Prev Quarter,FSQuarter,year,vzyeps,vz4Qsum
0,Q1 2024,4/22/24,--,1.14,--,--,1.10 / 1.19,--,--,NaN,2024Q1,2024Q1,2024,0.00,NaN
2,Q4 2023,1/23/24,--,1.08,--,--,1.03 / 1.17,1.08,--,NaN,2023Q4,2023Q4,2023,3.40,NaN
4,Q3 2023,10/24/23,--,1.18,1.22,0.04,1.14 / 1.27,1.18,1.13,1.13,2023Q3,2023Q3,2023,3.40,4.96
6,Q2 2023,7/25/23,--,1.17,1.21,0.04,1.15 / 1.19,1.17,1.1,1.10,2023Q2,2023Q2,2023,3.40,5.00
8,Q1 2023,4/25/23,--,1.2,1.2,0,1.16 / 1.24,1.19,1.17,1.17,2023Q1,2023Q1,2023,3.40,5.14
10,Q4 2022,1/24/23,--,1.19,1.19,0,1.02 / 1.26,1.18,1.56,1.56,2022Q4,2022Q4,2022,5.06,5.06
12,Q3 2022,10/21/22,--,1.29,1.32,0.03,1.25 / 1.32,1.28,1.17,1.17,2022Q3,2022Q3,2022,5.06,4.61
14,Q2 2022,7/22/22,--,1.32,1.31,-0.01,1.28 / 1.35,1.32,1.24,1.24,2022Q2,2022Q2,2022,5.06,4.99
16,Q1 2022,4/22/22,--,1.35,1.35,0,1.28 / 1.39,1.33,1.09,1.09,2022Q1,2022Q1,2022,5.06,5.15
18,Q4 2021,1/25/22,--,1.28,1.31,0.03,1.25 / 1.32,1.28,1.11,1.11,2021Q4,2021Q4,2021,5.33,5.33
20,Q3 2021,10/20/21,--,1.36,1.41,0.05,1.34 / 1.39,1.36,1.55,1.55,2021Q3,2021Q3,2021,5.33,5.33
22,Q2 2021,7/21/21,--,1.3,1.37,0.07,1.19 / 1.33,1.31,1.4,1.40,2021Q2,2021Q2,2021,5.33,4.83
24,Q1 2021,4/21/21,--,1.29,1.31,0.02,1.24 / 1.35,1.3,1.27,1.27,2021Q1,2021Q1,2021,5.33,4.56
26,Q4 2020,1/26/21,--,1.17,1.21,0.04,1.09 / 1.19,1.17,1.11,1.11,2020Q4,2020Q4,2020,4.29,4.29
28,Q3 2020,10/21/20,--,1.22,1.25,0.03,1.18 / 1.24,1.21,1.05,1.05,2020Q3,2020Q3,2020,4.29,4.41
30,Q2 2020,7/24/20,--,1.15,1.18,0.03,1.04 / 1.20,1.15,1.13,1.13,2020Q2,2020Q2,2020,4.29,4.61
32,Q1 2020,4/24/20,--,1.22,1.26,0.04,1.19 / 1.30,1.22,1,1.00,2020Q1,2020Q1,2020,4.29,4.43
34,Q4 2019,1/30/20,--,1.14,1.13,-0.01,1.11 / 1.16,1.14,1.23,1.23,2019Q4,2019Q4,2019,4.65,4.65
36,Q3 2019,10/25/19,--,1.24,1.25,0.01,1.20 / 1.26,1.24,1.25,1.25,2019Q3,2019Q3,2019,4.65,3.89
38,Q2 2019,08/01/2019,--,1.2,1.23,0.03,1.16 / 1.25,1.21,0.95,0.95,2019Q2,2019Q2,2019,4.65,3.83
40,Q1 2019,4/23/19,--,1.17,1.2,0.03,1.13 / 1.25,1.16,1.22,1.22,2019Q1,2019Q1,2019,4.65,3.88
42,Q4 2018,1/29/19,--,1.09,1.12,0.03,1.00 / 1.16,1.1,0.47,0.47,2018Q4,2018Q4,2018,3.77,3.77
44,Q3 2018,10/23/18,--,1.19,1.22,0.03,1.15 / 1.23,1.19,1.19,1.19,2018Q3,2018Q3,2018,3.77,7.86
46,Q2 2018,7/24/18,--,1.14,1.2,0.06,1.07 / 1.18,1.14,1,1.00,2018Q2,2018Q2,2018,3.77,7.56
48,Q1 2018,4/24/18,--,1.1,1.17,0.07,0.93 / 1.14,1.11,1.11,1.11,2018Q1,2018Q1,2018,3.77,7.63
50,Q4 2017,1/23/18,--,0.88,0.86,-0.02,0.85 / 0.98,0.88,4.56,4.56,2017Q4,2017Q4,2017,7.36,7.36
52,Q3 2017,10/19/17,--,0.98,0.98,0,0.94 / 1.02,0.97,0.89,0.89,2017Q3,2017Q3,2017,7.36,3.90
54,Q2 2017,7/27/17,--,0.96,0.96,0,0.93 / 1.01,0.96,1.07,1.07,2017Q2,2017Q2,2017,7.36,3.90
56,Q1 2017,4/20/17,--,0.96,0.95,-0.01,0.93 / 1.01,0.96,0.84,0.84,2017Q1,2017Q1,2017,7.36,3.00
58,Q4 2016,1/24/17,--,0.89,0.86,-0.03,0.87 / 0.93,0.89,1.1,1.10,2016Q4,2016Q4,2016,3.22,3.22
60,Q3 2016,10/20/16,--,0.99,1.01,0.02,0.89 / 1.02,0.99,0.89,0.89,2016Q3,2016Q3,2016,3.22,3.44
62,Q2 2016,7/26/16,--,0.92,0.94,0.02,0.90 / 0.95,0.92,0.17,0.17,2016Q2,2016Q2,2016,3.22,3.54
64,Q1 2016,4/21/16,--,1.06,1.06,0,1.00 / 1.08,1.06,1.06,1.06,2016Q1,2016Q1,2016,3.22,4.41
66,Q4 2015,1/21/16,--,0.88,0.89,0.01,0.83 / 0.94,0.88,1.32,1.32,2015Q4,2015Q4,2015,4.37,4.37
68,Q3 2015,10/20/15,--,1.02,1.04,0.02,0.96 / 1.08,1.03,0.99,0.99,2015Q3,2015Q3,2015,4.37,2.51
70,Q2 2015,7/21/15,--,1.01,1.04,0.03,0.93 / 1.05,1.01,1.04,1.04,2015Q2,2015Q2,2015,4.37,2.41
72,Q1 2015,4/21/15,--,0.95,1.02,0.07,0.88 / 1.00,0.95,1.02,1.02,2015Q1,2015Q1,2015,4.37,2.38
74,Q4 2014,1/22/15,--,0.72,0.71,-0.01,0.66 / 0.87,0.7,-0.54,-0.54,2014Q4,2014Q4,2014,2.51,2.51
76,Q3 2014,10/21/14,--,0.9,0.89,-0.01,0.87 / 0.98,0.9,0.89,0.89,2014Q3,2014Q3,2014,2.51,4.81
78,Q2 2014,7/22/14,--,0.9,0.91,0.01,0.86 / 0.93,0.89,1.01,1.01,2014Q2,2014Q2,2014,2.51,NaN
80,Q1 2014,4/24/14,--,0.87,0.84,-0.03,0.82 / 0.92,0.87,1.15,1.15,2014Q1,2014Q1,2014,2.51,NaN
82,Q4 2013,1/21/14,--,0.65,0.66,0.01,0.61 / 0.70,0.66,1.76,1.76,2013Q4,2013Q4,2013,1.76,NaN

In [66]:
merged_vzEPS = pd.merge(close, vzEPS, on='FSQuarter', how='inner')
merged_vzEPS

,Date,AMZN,BAC,GOOGL,MCD,VZ,Cur Quarter,FSQuarter,year_x,amzn4Qsum,...,Adjusted actualsÂ EPS ($),EPS difference,Est. low/high range ($),StarMine from RefinitivÂ SmartEstimate($),GAAP EPS ($),Reported EPS ($),Prev Quarter,year_y,vzyeps,vz4Qsum
0,2014-01-02,19.898500,16.100000,27.855856,96.410004,49.000000,2014Q1,2013Q4,2014,NaN,...,0.66,0.01,0.61 / 0.70,0.66,1.76,1.76,2013Q4,2013,1.76,NaN
1,2014-01-03,19.822001,16.410000,27.652653,96.540001,48.419998,2014Q1,2013Q4,2014,NaN,...,0.66,0.01,0.61 / 0.70,0.66,1.76,1.76,2013Q4,2013,1.76,NaN
2,2014-01-06,19.681499,16.660000,27.960960,95.849998,48.689999,2014Q1,2013Q4,2014,NaN,...,0.66,0.01,0.61 / 0.70,0.66,1.76,1.76,2013Q4,2013,1.76,NaN
3,2014-01-07,19.901501,16.500000,28.500000,96.379997,49.299999,2014Q1,2013Q4,2014,NaN,...,0.66,0.01,0.61 / 0.70,0.66,1.76,1.76,2013Q4,2013,1.76,NaN
4,2014-01-08,20.096001,16.580000,28.559309,95.410004,48.500000,2014Q1,2013Q4,2014,NaN,...,0.66,0.01,0.61 / 0.70,0.66,1.76,1.76,2013Q4,2013,1.76,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2486,2023-11-16,142.830002,29.540001,136.929993,276.119995,36.180000,2023Q4,2023Q3,2023,1.93,...,1.22,0.04,1.14 / 1.27,1.18,1.13,1.13,2023Q3,2023,3.40,4.96
2487,2023-11-17,145.179993,29.980000,135.309998,275.750000,36.230000,2023Q4,2023Q3,2023,1.93,...,1.22,0.04,1.14 / 1.27,1.18,1.13,1.13,2023Q3,2023,3.40,4.96
2488,2023-11-20,146.130005,30.010000,136.250000,279.029999,36.730000,2023Q4,2023Q3,2023,1.93,...,1.22,0.04,1.14 / 1.27,1.18,1.13,1.13,2023Q3,2023,3.40,4.96
2489,2023-11-21,143.899994,29.660000,136.970001,280.470001,37.250000,2023Q4,2023Q3,2023,1.93,...,1.22,0.04,1.14 / 1.27,1.18,1.13,1.13,2023Q3,2023,3.40,4.96
2490,2023-11-22,146.710007,29.629999,138.490005,281.929993,37.349998,2023Q4,2023Q3,2023,1.93,...,1.22,0.04,1.14 / 1.27,1.18,1.13,1.13,2023Q3,2023,3.40,4.96

In [67]:
close["vz4Qsum"] = merged_vzEPS['vz4Qsum']
close["vzPEratio"] = close["VZ"] / close["vz4Qsum"]
close['vzyeps'] = merged_vzEPS['vzyeps']
close

,Date,AMZN,BAC,GOOGL,MCD,VZ,Cur Quarter,FSQuarter,year,amzn4Qsum,...,bacyeps,googl4Qsum,googlPEratio,googlyeps,mcd4Qsum,mcdPEratio,mcdyeps,vz4Qsum,vzPEratio,vzyeps
0,2014-01-02,19.898500,16.100000,27.855856,96.410004,49.000000,2014Q1,2013Q4,2014,NaN,...,0.29,NaN,NaN,4.95,NaN,NaN,1.40,NaN,NaN,1.76
1,2014-01-03,19.822001,16.410000,27.652653,96.540001,48.419998,2014Q1,2013Q4,2014,NaN,...,0.29,NaN,NaN,4.95,NaN,NaN,1.40,NaN,NaN,1.76
2,2014-01-06,19.681499,16.660000,27.960960,95.849998,48.689999,2014Q1,2013Q4,2014,NaN,...,0.29,NaN,NaN,4.95,NaN,NaN,1.40,NaN,NaN,1.76
3,2014-01-07,19.901501,16.500000,28.500000,96.379997,49.299999,2014Q1,2013Q4,2014,NaN,...,0.29,NaN,NaN,4.95,NaN,NaN,1.40,NaN,NaN,1.76
4,2014-01-08,20.096001,16.580000,28.559309,95.410004,48.500000,2014Q1,2013Q4,2014,NaN,...,0.29,NaN,NaN,4.95,NaN,NaN,1.40,NaN,NaN,1.76
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2486,2023-11-16,142.830002,29.540001,136.929993,276.119995,36.180000,2023Q4,2023Q3,2023,1.93,...,2.72,5.21,26.282148,4.16,11.36,24.306338,8.77,4.96,7.294355,3.40
2487,2023-11-17,145.179993,29.980000,135.309998,275.750000,36.230000,2023Q4,2023Q3,2023,1.93,...,2.72,5.21,25.971209,4.16,11.36,24.273768,8.77,4.96,7.304435,3.40
2488,2023-11-20,146.130005,30.010000,136.250000,279.029999,36.730000,2023Q4,2023Q3,2023,1.93,...,2.72,5.21,26.151631,4.16,11.36,24.562500,8.77,4.96,7.405242,3.40
2489,2023-11-21,143.899994,29.660000,136.970001,280.470001,37.250000,2023Q4,2023Q3,2023,1.93,...,2.72,5.21,26.289827,4.16,11.36,24.689261,8.77,4.96,7.510081,3.40
2490,2023-11-22,146.710007,29.629999,138.490005,281.929993,37.349998,2023Q4,2023Q3,2023,1.93,...,2.72,5.21,26.581575,4.16,11.36,24.817781,8.77,4.96,7.530242,3.40

In [68]:
#Drop the N/A value from dataset
close= close.dropna()
close

,Date,AMZN,BAC,GOOGL,MCD,VZ,Cur Quarter,FSQuarter,year,amzn4Qsum,...,bacyeps,googl4Qsum,googlPEratio,googlyeps,mcd4Qsum,mcdPEratio,mcdyeps,vz4Qsum,vzPEratio,vzyeps
188,2014-10-01,15.873000,16.820000,28.981501,94.190002,49.430000,2014Q4,2014Q3,2014,-0.48,...,0.35,18.73,1.547331,20.57,5.10,18.468628,4.83,4.81,10.276507,2.51
189,2014-10-02,15.920500,16.879999,29.044001,94.120003,49.290001,2014Q4,2014Q3,2014,-0.48,...,0.35,18.73,1.550667,20.57,5.10,18.454902,4.83,4.81,10.247401,2.51
190,2014-10-03,16.136999,17.290001,29.312500,94.860001,49.709999,2014Q4,2014Q3,2014,-0.48,...,0.35,18.73,1.565003,20.57,5.10,18.600000,4.83,4.81,10.334719,2.51
191,2014-10-06,16.110001,17.290001,29.389000,93.839996,50.080002,2014Q4,2014Q3,2014,-0.48,...,0.35,18.73,1.569087,20.57,5.10,18.399999,4.83,4.81,10.411643,2.51
192,2014-10-07,15.849000,16.879999,28.705000,92.809998,49.680000,2014Q4,2014Q3,2014,-0.48,...,0.35,18.73,1.532568,20.57,5.10,18.198039,4.83,4.81,10.328482,2.51
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2486,2023-11-16,142.830002,29.540001,136.929993,276.119995,36.180000,2023Q4,2023Q3,2023,1.93,...,2.72,5.21,26.282148,4.16,11.36,24.306338,8.77,4.96,7.294355,3.40
2487,2023-11-17,145.179993,29.980000,135.309998,275.750000,36.230000,2023Q4,2023Q3,2023,1.93,...,2.72,5.21,25.971209,4.16,11.36,24.273768,8.77,4.96,7.304435,3.40
2488,2023-11-20,146.130005,30.010000,136.250000,279.029999,36.730000,2023Q4,2023Q3,2023,1.93,...,2.72,5.21,26.151631,4.16,11.36,24.562500,8.77,4.96,7.405242,3.40
2489,2023-11-21,143.899994,29.660000,136.970001,280.470001,37.250000,2023Q4,2023Q3,2023,1.93,...,2.72,5.21,26.289827,4.16,11.36,24.689261,8.77,4.96,7.510081,3.40
2490,2023-11-22,146.710007,29.629999,138.490005,281.929993,37.349998,2023Q4,2023Q3,2023,1.93,...,2.72,5.21,26.581575,4.16,11.36,24.817781,8.77,4.96,7.530242,3.40

In [69]:
close.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2303 entries, 188 to 2490
Data columns (total 24 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          2303 non-null   datetime64[ns]
 1   AMZN          2303 non-null   float64
 2   BAC           2303 non-null   float64
 3   GOOGL         2303 non-null   float64
 4   MCD           2303 non-null   float64
 5   VZ            2303 non-null   float64
 6   Cur Quarter   2303 non-null   period[Q-DEC]
 7   FSQuarter     2303 non-null   period[Q-DEC]
 8   year          2303 non-null   int64
 9   amzn4Qsum     2303 non-null   float64
 10  amznPEratio   2303 non-null   float64
 11  amznyeps      2303 non-null   float64
 12  bac4Qsum      2303 non-null   float64
 13  bacPEratio    2303 non-null   float64
 14  bacyeps       2303 non-null   float64
 15  googl4Qsum    2303 non-null   float64
 16  googlPEratio  2303 non-null   float64
 17  googlyeps     2303 non-null   float64
 18  mcd4Qsum      2303 non-null   float64
 19  mcdPEratio    2303 non-null   float64
 20  mcdyeps       2303 non-null   float64
 21  vz4Qsum       2303 non-null   float64
 22  vzPEratio     2303 non-null   float64
 23  vzyeps        2303 non-null   float64
dtypes: datetime64[ns](1), float64(20), int64(1), period[Q-DEC](2)
memory usage: 449.8 KB

In [70]:
#export the final dataset 
close.to_csv('fivecompanydata.csv', index=False)

In [71]:
close.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2303 entries, 188 to 2490
Data columns (total 24 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          2303 non-null   datetime64[ns]
 1   AMZN          2303 non-null   float64
 2   BAC           2303 non-null   float64
 3   GOOGL         2303 non-null   float64
 4   MCD           2303 non-null   float64
 5   VZ            2303 non-null   float64
 6   Cur Quarter   2303 non-null   period[Q-DEC]
 7   FSQuarter     2303 non-null   period[Q-DEC]
 8   year          2303 non-null   int64
 9   amzn4Qsum     2303 non-null   float64
 10  amznPEratio   2303 non-null   float64
 11  amznyeps      2303 non-null   float64
 12  bac4Qsum      2303 non-null   float64
 13  bacPEratio    2303 non-null   float64
 14  bacyeps       2303 non-null   float64
 15  googl4Qsum    2303 non-null   float64
 16  googlPEratio  2303 non-null   float64
 17  googlyeps     2303 non-null   float64
 18  mcd4Qsum      2303 non-null   float64
 19  mcdPEratio    2303 non-null   float64
 20  mcdyeps       2303 non-null   float64
 21  vz4Qsum       2303 non-null   float64
 22  vzPEratio     2303 non-null   float64
 23  vzyeps        2303 non-null   float64
dtypes: datetime64[ns](1), float64(20), int64(1), period[Q-DEC](2)
memory usage: 449.8 KB

In [72]:
#Schema

CREATE TABLE ftp3(
    Date DATE NOT NULL,
    AMZN NUMERIC(10,2) NOT NULL,
    BAC NUMERIC(10,2) NOT NULL,
    GOOGL NUMERIC(10,2) NOT NULL,
    MCD NUMERIC(10,2) NOT NULL,
    VZ NUMERIC(10,2) NOT NULL,
    CurQuarter TEXT NOT NULL,
    FSQuarter TEXT NOT NULL,
    year INT NOT NULL,
    amzn4Qsum NUMERIC(10,2) NOT NULL,
    amznPE NUMERIC(10,2) NOT NULL,
    amznyeps NUMERIC(10,2) NOT NULL,
    bac4Qsum NUMERIC(10,2) NOT NULL,
    bacPEratio NUMERIC(10,2) NOT NULL,
    bacyeps NUMERIC(10,2) NOT NULL,
    googl4Qsum NUMERIC(10,2) NOT NULL,
    googlPEratio NUMERIC(10,2) NOT NULL,
    googlyeps NUMERIC(10,2) NOT NULL,
    mcd4Qsum NUMERIC(10,2) NOT NULL,
    mcdPEratio NUMERIC(10,2) NOT NULL,
    mcdyeps NUMERIC(10,2) NOT NULL,
    vz4Qsum NUMERIC(10,2) NOT NULL,
    vzPEratio NUMERIC(10,2) NOT NULL,
    vzyeps NUMERIC(10,2) NOT NULL
);

In [73]:
!pip install psycopg2

Requirement already satisfied: psycopg2 in /Users/ethan/anaconda3/lib/python3.11/site-packages (2.9.9)

In [ ]:
from sqlalchemy import create_engine

from config import username, password, hostname, port, db

engine = create_engine(f'postgresql+psycopg2://{username}:{password}@{hostname}:{port}/{db}')

In [ ]:
close.to_sql("ftp3", con=engine, if_exists="replace", index=False)

In [ ]:
from sqlalchemy import text
with engine.connect() as connection:
    result = connection.execute(text("SELECT * FROM ftp3"))
    print(list(result))